.panel.dark .campsi_project_users
  padding 1em
  > h3
    padding 2em 0 1em 0
    font-size 1.8em
    display none
    font-weight 200
    &.visible
      display block

  .invitation
    z-index 100
    position relative
    overflow hidden
    background-size 30%
    background-position 100%
    background-repeat no-repeat
    border-radius .5em
    margin-top 4em
    box-shadow 0 1px 2px black

    > .content
      margin-top 1em
      display none
      &.visible
        display block

    .envelope
      //position absolute
      text-align center


    h3
      cursor pointer
      padding 1em
      text-align left
      padding-left 3em
      font-size 1.6em
      position relative
      font-weight 200
      img
        position absolute
        left .5em
        top .5em
        height 2em
        vertical-align middle
        margin-right 1em

    button
      width 100%

    .fields .form_field
      border none
      .label
        text-shadow none



  .array_item, .newItem
    position relative
    box-shadow 0 1px 2px black
    padding 1em
    margin-bottom 1em
    border-radius .5em

    .roles
      margin-top .25em
      margin-bottom 0

      span
        margin-right .5em
        display inline-block
        background transparent
        border-radius .3em
        padding 0 .5em
        color $theme
        font-weight 200
    .name
      text-shadow 0 1px 1px #000
      font-size 1.2em
      margin-bottom 0
      word-wrap: break-word;


    .username
      text-shadow 0 1px 1px #000
      font-size .9em
      //color darken(white, 10)

    .avatar
      position relative
      display inline-block
      border-radius 4em
      margin-right 1em
      overflow hidden
      width 4em
      height 4em
      float left
      //&::before
      //  content ''
      //  box-shadow inset 1px -1px 4px #000
      //  position absolute
      //  border-radius 4em
      //  top 0
      //  left 0
      //  right 0
      //  bottom 0
      img
        margin-top -1%
        margin-left -1%
        height 103%
        width 103%

    .remove
      position absolute
      top .5em
      right .5em

  div.link
    display flex
    margin-top .5em
    label
      display inline-block
      margin-right .5em
      font-size .7em
      color rgba(white, .7)
      i
        margin-right .5em

    input
      flex 1
      border-radius .5em
      color white
      padding .3em .5em .2em .5em
      font-size .7em
      font-family Menlo, monospace