.panel.dark .campsi_project_users
  padding 1em

  .invitation
    background lighten($dark, 20)
    //background $theme url(/images/airmail.png)
    background $theme
    background-size 30%
    background-position 100%
    background-repeat no-repeat
    border-radius .5em
    padding 1em
    margin-top 4em
    box-shadow 0 1px 2px black

    .envelope
      text-align center
    img
      width 50%

    h3
      text-shadow 0 1px 1px darken($theme, 20)
      text-align center

    button
      dark-button darken($theme, 20)
      width 100%

    .fields .form_field
      padding 0
      border none
      margin-bottom 1em
      .label
        text-shadow none
        color $light



  .array_item, .newItem
    background lighten($dark, 10)
    box-shadow 0 1px 2px black
    padding 1em
    margin-bottom 1em
    border-radius .5em

    .roles
      margin-top .25em
      margin-bottom 0

      span
        margin-right .5em
        display inline-block
        background transparent
        border-radius .3em
        border 1px solid $theme
        padding 0 .5em
        color $theme
        font-weight 200
    .name
      text-shadow 0 1px 1px #000
      font-size 1.2em
      margin-bottom 0

    .username
      text-shadow 0 1px 1px #000
      font-size .9em
      color darken(white, 10)

    .avatar
      position relative
      display inline-block
      border-radius 4em
      margin-right 1em
      overflow hidden
      width 4em
      height 4em
      float left
      background $light
      //&::before
      //  content ''
      //  box-shadow inset 1px -1px 4px #000
      //  position absolute
      //  border-radius 4em
      //  top 0
      //  left 0
      //  right 0
      //  bottom 0
      img
        margin-top -1%
        margin-left -1%
        height 103%
        width 103%

    .remove
      position absolute
      top .5em
      right .5em
      dark-button $red