$dark = #212730
$darkText = #373b43
$lightText = #b7bbbf
$theme = #2c7af4
$contrast = deeppink
$light = #ebecf0
$nearWhite = tint($dark, 98%)

$inputIdleBackground = lighten($light, 5)
$inputIdleBorderColor = darken($light, 6)
$inputIdleBorderColorShadow = darken($light, 10)
$inputFocusBackground = white
$inputFocusBorderColor = darken($light, 14)
$inputDisabledBackground = $light
$inputDisabledTextColor = lighten($dark, 20)

$red = #e6153b
$green = #20cb61
$orange = #f0a91a

p[type]
  color: deeppink

a
  color $theme

