$dark = #1d222a
$darkText = #373b43
$lightText = #b7bbbf
$theme = #2c7af4
$contrast = deeppink
$light = #ebecf0
$nearWhite = tint($dark, 98%)

$red = #e6153b
$green = #20cb61
$orange = #f0a91a

p[type]
  color: deeppink