$dark = #444//#31393c
$theme = dodgerblue
//#1e90ff
$themeHigh = #CCC
//#7ee0fd;
$test = #598392
$brown = #786452
$contrast = deeppink
$light = tint($dark, 90%)
$nearWhite = tint($dark, 98%)

p[type]
  color: deeppink