$themeColor = dodgerblue
$textColor = #333
$backgroundColor = #EEE
$actionColor = dodgerblue
$font = "PT Sans", "Myriad Pro", Arial, sans-serif
$fontNarrow = "PT Sans Narrow", 'Helvetica', sans-serif
$inputFontSize = 1.2rem
$inputIdleBackground = rgba($backgroundColor, 0.4)
$inputFocusBackground = rgba($backgroundColor, 0.9)
$inputDisabledBackground = rgba($backgroundColor, 0.4)
$inputIdleColor = rgba($textColor, 0.9)
$inputFocusColor = $textColor
$inputDisabledColor = rgba($textColor, 0.6)
$inputPlaceholderColor = rgba($textColor, 0.5)
$labelColor = rgba($textColor, 0.8)
$panelHeaderHeight = 8rem
$componentSize = 5rem
$borderColor = darken($backgroundColor, 7)
$borderStyle = 1px solid $borderColor
$hoverBackgroundColor = rgba(darken($backgroundColor, 3), .2)
$activeBackgroundColor = rgba(darken($backgroundColor, 3), .5)
$activeTextColor = $textColor
$imageBackgroundColor = white
// padding
$panelHeaderPadding = 2rem
$panelContentPadding = 1rem
$boxShadow = 0 1px 10px rgba(darken($backgroundColor, 20), .3)
$hoverBoxShadow = 0 1px 5px rgba(darken($backgroundColor, 20), .6)