#entries

  header
    background darken($themeHigh, 20)

  .cell
    background darken($nearWhite, 5)

.campsi_entry-list

.array_item[data-item-type='campsi/entry-list/entry']
  margin 0

  > button.remove
    display none

  a
    text-decoration none
    display block
    background white
    border-bottom 1px solid lighten($dark, 60)
    padding .5em
    cursor pointer
    color $dark

    &:hover
      background darken($nearWhite, 1)

    &:active
      background darken($nearWhite, 10)

    &.active
      background darken($nearWhite, 30)

    h4, .title
      font-weight 500
      color black
      margin 0 0 .2em 0

    .summary
      display block
      color lighten($dark, 30)
      font-weight 300
      font-size: .85em

    $thumbnailSize = 4em
    .thumbnail
      height $thumbnailSize
      width $thumbnailSize
      float left
      overflow hidden
      margin-right 1em
      img
        max-height $thumbnailSize

#entry

  header
    button.remove
      light-button(#ffa000)

  .cell
    background white

  .component.form
    padding 1em;

    .form_field
      padding .5em;

      .label
        font-weight 200
        padding .25em

    .array_item, .newItem
      width 100%
      padding .5em;
      display flex
      align-items: center

      > .component
        flex 1

      > .container
        width 100%

      > .drag-handle
        cursor all-scroll
        width 1em
        height 1.5em
        background darken($nearWhite, 10)
        margin-right .25em

      > .control
        flex 1

      > button.remove
        margin-left .5em