
//$fonts = BlinkMacSystemFont, "Avenir Next", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
$fonts = "Work Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif
//$fonts = "Arial"
html, body
  font-family $fonts
  font-size 12pt
  line-height 1.45em

button, input, select
  font-family $fonts
  line-height 1rem
  font-size 1rem

p
  margin-bottom .5em

p:last-child
  margin-bottom 0


small, .font_small
  font-size 0.833em

.legal
  font-size 0.579em

