$duration = .6s
$easing = cubic-bezier(0.29, 0.56, 0.57, 0.9)
.panels
  width 100%
  height 100%
  margin 0
  position relative
  overflow: hidden

  > .panel
    display none
    height 100%
    width 100%
    position absolute
    top 0
    left 0
    transition  width $duration $easing, transform $duration $easing

    outline: 1px solid darken($light, 20);
    background $nearWhite
    box-sizing content-box


    &.next
      display block
      transform: translateX(100%)
      &.hidden
        display none

    &.prev
      display block
      transform: translateX(-100%)
      &.hidden
        display none

    for $i in 1..10
      $w = $i * 10

      &.w{$w}
        display block
        width unit($w, '%')
        transform translateX(0)
        &.next
          transform translateX(unit(100 / $w * 100, '%'))
        &.prev
          transform translateX(unit(-100, '%'))

      for $j in 1..10
        $l = $j * 10

        &.w{$w}.l{$l}
          transform translateX(unit(floor(100 / $w * $l * 10)/10, '%'));

      .content
        h1
          color: rgba($theme, .4)
          font-weight: lighter

      .cell > header
        height 2.5rem
        box-sizing border-box
        display flex
        align-items center
        $headerColor = lighten($dark, 30);
        background $headerColor
        color $light
        border 1px solid transparent
        //border-top-color lighten($headerColor, 30%)
        //border-right-color lighten($headerColor, 5);
        //border-bottom-color darken($headerColor, 30%)
        //border-left-color darken($headerColor, 15);

        h2
          font-size 1.2em
          line-height 1.5em
          padding 0.4em 0 0.3em 0
          //outline red 1px solid
          font-weight normal
          text-align center
          margin 0 auto
          display inline-block
          text-shadow 1px 1px 0 darken($nearWhite, 40)
          color: $nearWhite

        .buttons
          display flex

          button, a
            margin 0 .25rem
            light-button(lighten($dark, 10))

            &.save
              dark-button($contrast)
              display none

      &.modified

        header
          h2:
          :after, h2:after
            content ' *'

          .buttons button.save
            display inherit