$duration = .4s
$easing = cubic-bezier(0.29, 0.56, 0.57, 0.9)

.panels
  width 100%
  height 100%
  margin 0
  position relative
  overflow: hidden

  > .panel
    display none
    height 100%
    width 100%
    position absolute
    top 0
    left 0
    background $nearWhite
    transition  transform $duration $easing ,width $duration $easing

    outline: 1px solid darken($light, 10);
    box-sizing content-box

    .row.header .cell
      position relative

    &.scroll
      .row.header header
        background rgba(black, .05)
        //border-bottom: 1px solid darken($light, 20)

    &.next
      display block
      transform: translateX(100%)
      &.hidden
        display none

    &.prev
      display block
      transform: translateX(-100%)
      &.hidden
        display none

    for $i in 1..10
      $w = $i * 10

      &.w{$w}
        display block
        width unit($w, '%')
        transform translateX(0)
        &.next
          transform translateX(unit(100 / $w * 100, '%'))
        &.prev
          transform translateX(unit(-100, '%'))

      for $j in 1..10
        $l = $j * 10

        &.w{$w}.l{$l}
          transform translateX(unit(floor(100 / $w * $l * 10)/10, '%'));

    .content
      h1
        color: rgba($theme, .4)
        font-weight: lighter

    .cell > header
      //height 2.5em
      box-sizing border-box
      //display flex
      //align-items center
      border 1px solid transparent
      transition background .3s ease-out
      padding .5em
      padding-bottom .4em

      .buttons.left
        float left
      .buttons.right
        float right

      h2
        font-size 1.5em
        line-height 1.5em
        font-weight 200
        text-align center
        margin 0 auto
        color $dark

      .buttons

        button, a
          display inline-block
          margin 0 .25rem
          dark-button(darken($light, 20))

          &.save
            dark-button($contrast)
            display none

    &.modified

      header
        h2:
        :after, h2:after
          content ' *'

        .buttons button.save
          display inline-block