#project

  .cell .scrollpane
    background white

  .label
    font-weight lighter
    font-size 1.2em
    color $dark
    margin 0 0 .5em 0

  .form_field.icon
    padding 1em
    background white
    //border-bottom 1px solid darken($nearWhite, 10)

  .project-name
    font-size: 2em


  .admins, .designers
    padding 1em
    width 50%
    display inline-block
    //border-bottom 1px solid darken($nearWhite, 10)
    //border-top 1px solid lighten($nearWhite, 10)
    //border-right 1px solid white
    background darken($nearWhite, 5)

  .designers
    border-left 1px solid darken($light, 10)

.collections
  padding 1.5em
  clear left

.campsi_collection-list
  .newItem
    input[type=submit]
      display inherit

.array_item[data-item-type="campsi/collection-list/collection"]
  > button.remove
    display none

  button.remove
    dark-button(red)

.campsi_collection-list_collection
  background #FFF
  border .1em solid darken($light, 2)
  border-bottom-color darken($light, 10)
  border-radius .5em
  margin-bottom: 1em
  padding 1em
  display flex
  align-items center

  &.active
    background darken(#FFF, 5)
    border .1em solid darken($light, 2)
    border-top-color darken($light, 10)
  .name
    flex 1

  .buttons a, .buttons button
    margin-left .5em
    //dark-button($theme)


