#projects

  .cell
    background-color darken($light, 1)

  .content
    padding: 2em;

  .project
    float left
    margin 1em
    cursor: pointer


    .name
      text-align: center
      width: 100%
      display: inline-block
      margin-top: .5em

    &.placeholder

      opacity .5
      transition opacity .1s

      &:hover
        opacity: 1

      .name
        font-style: italic

      .logo
        border: 1px dashed darken($light, 20)
        box-shadow: none
        color $theme
        /*font-size: em*/
        text-align: center

    &:hover
      .logo
        border-color darken($light, 5)
        transform scaleX(.95) scaleY(.95) rotate(-2deg);

    .logo

      $logoSize = 10em
      $logoPadding = 1em

      background: #FFF
      /*box-shadow -1px 1px 2px rgba($dark, .1)*/
      border: 1px solid darken($nearWhite, 5)
      //border-bottom: 3px solid darken($light, 10)

      box-shadow 1px 2px 5px 0 rgba($dark, .1);
      width $logoSize
      height $logoSize
      border-radius 10px //($logoSize / 6)
      padding: $logoPadding
      overflow: hidden
      display: table-cell
      vertical-align: middle
      transition box-shadow .1s ease-in, transform .1s ease-out

      img
        margin: 0 auto
        max-width: $logoSize - $logoPadding* 2
        max-height: $logoSize - $logoPadding* 2

    &.active
      .logo
        box-shadow 2px 5px 10px 0 rgba($dark, .3);
        border-color darken($light, 5)
        transform scaleX(1.05) scaleY(1.05)