#project


  .label
    font-weight lighter
    font-size 0.9em
    color $dark

  .component.title
    padding 2rem
    background darken($nearWhite, 5)
    border-bottom 1px solid darken($nearWhite, 10)
    font-size 1.5em

    input
      font-size: 1.5em
      font-weight lighter

  .project-name
    font-size: 2em

  .admins, .designers
    padding 1em
    border-bottom 1px solid darken($nearWhite, 10)
    border-top 1px solid lighten($nearWhite, 10)

    .label
      margin 0 0 .5em .5em

.collections
    padding 1.5em

    .array_item > button.remove
      display none

    .campsi_collection-list_collection
      background #FFF
      border .1em solid darken($light, 2)
      border-bottom-color darken($light, 10)
      border-radius .5em
      margin-bottom: 1em
      padding 1em