#project
  .component.title
    font-size 2em
    input
      font-size: 2em;
      font-weight lighter

  .content
    padding 2rem;

  .project-name
    font-size: 2.5em

  .collections

    .campsi_collection-list_collection
      background #FFF
      border .1em solid darken($light, 2)
      border-bottom-color darken($light, 10)
      border-radius .5em
      margin-bottom: 1em
      padding 1em