/*@import ui*/

light-button($color)

  background $color
  color lighten($color, 30)
  border none
  border-bottom 2px solid darken($color, 20)

  &:hover
    background lighten($color, 10)
    border-color $color

  &:active
    background rgba($color, .5)

dark-button($color)

  background rgba($color, .2)
  color darken($color, 10)
  border-color $color

  &:hover
    color darken($color, 30)
    border-color darken($color, 30)

  &:active
    background rgba($color, .5)

button, a.btn, .buttons > a, input[type=submit]
  display inline-block
  -webkit-appearance none
  text-decoration none
  text-align center
  outline none
  border-radius .4em
  cursor pointer
  font-size: 0.8em
  border-width 1px
  border-style solid
  padding 0 0.8em
  height 1.8rem
  line-height 1.9rem
  font-weight 600
  light-button(lighten($theme, 10))

.component.invisible .control
  position relative
  display: flex

  input
    border none
    outline none
    background transparent
    margin-left .5em
    box-shadow none
    &:focus
      box-shadow none;

  &::before
    content '✎'
    color darken($nearWhite, 20)
    width 1em
    align-self: center

.control .label
  font-weight normal
  font-size 1em
  color darken($light, 60)

input.component.text
  /*width: calc(100% - 0.5em);*/
  padding: 0.4em 0.4em 0.2em 0.4em;
  width: 100%;
  font-family: "Avenir Next";
  border: darken($light, 10) solid 1px;
  //box-shadow: inset #ededed 0 1px 1px;
input.component.text::placeholder
  padding-top .2em
  font-weight 200
  font-style: italic

input.component.text:focus
  outline: none;
  border-color: $theme
  box-shadow: inset lighten($theme, 20) 0 0 2px;

.component.draggable.gu-mirror
  opacity 1

.newItem > input[type=submit]
  display none

.component.file, .component.file_image

  .file-dropzone
    border .3em dashed $light
    border-radius 1em
    background-position 50% 50%
    background-repeat no-repeat
    background-clip padding-box
    position relative
    overflow hidden

    input[type=file]
      display block
      position absolute
      width 100%
      height 100em
      -webkit-appearance button
      opacity 0

  &.file_image
    .file-dropzone
      width 100%
      height 10rem
    .file
      height 100%
      width 100%
      background-repeat no-repeat
      background-position 50% 50%
      background-size 10rem
      background-clip: content-box;

#app .form_field.big-title
  padding 2rem
  background darken($nearWhite, 5)
  border-bottom 1px solid darken($nearWhite, 10)
  font-size 1.5em

  input
    font-size: 1.5em
    font-weight lighter

.component.text_code
  position relative
  width 100%
  height 10rem
  border darken($light, 10) solid 1px
  font-size 10px


.component.text_area
  position relative
  width 100%
  height 10rem
  border: darken($light, 10) solid 1px;

