.form_field
  padding 1rem
  position relative

  &.title
    font-size 1.5em

  &:nth-child(even)
    background rgba(white, .2)

  .label
    font-size 1.2em
    padding .5em 0
    line-height 1.8em

  .form_field
    padding .5em

  .help, .errors
    opacity .2
    position relative
    font-style italic
    padding .25em .5em .25em 3em
    margin-top .8em
    border-radius .5em
    font-size .8em
    overflow hidden


    &::before
      text-indent 0
      position absolute
      top 0
      left 0
      content: '?'
      color white
      display inline-block
      width 2.5em
      height 100%
      text-align center
      line-height 2.5em
      font-weight bold
      border-radius .5em 0 0 .5em
      margin-right 1em

    &.errors
      background rgba($red, .2)
      border-color rgba($red, .1)
      color $red

      &::before
        background rgba(red, .5)
        content: '!'

    &:empty
      display none

  &.horizontal
    flex-wrap wrap
    display flex
    align-items center
    .label
      margin-right 1em
      min-width 8em
    .control
      flex 1
    .help, .errors
      flex 100%

.form_field.focus .help, .form_field.focus .errors
  opacity 1
  &:empty
    display none

.control .label
  font-weight normal
  color darken($light, 60)



.component.draggable.gu-mirror
  opacity 1


select.select_dropdown, select.select_ajax
  width 100%

.panel.dark > .content .fields

  .form_field
    padding 1em

    &:nth-child(even)
      background rgba(black,0.1)

  .label
    font-weight 400
    margin-bottom .3em
    font-size 1.1em

  form > .form > .fields > .form_field > .label
    font-weight 500
    font-size 1.2em
    padding .5em 0

  input.text, textarea
    background rgba(#FFF, .08);
    border 1px solid rgba(#FFF, .1);
    border-radius .5em
    color white
    &:focus
      border 1px solid rgba(#FFF, .2);
      box-shadow none



  form
    font-size .9em


  .form_field[data-comp-type='checkbox']
    .label
      display none

  h3
    margin-top 2em
    font-style italic
    font-weight 200

  .array_item, .newItem
    color white
    padding .5em
    margin-bottom 1em
    border-radius .5em
    position relative
    vertical-align middle
    min-height 6.5em


intro()
  border-radius .3em
  box-shadow 0 0 30px lighten($dark, 70)
  padding 1.5em
  margin 1em
  display block
  background white
  font-size 1.2em
  font-weight 400
  line-height 1.8em
  color lighten($dark, 30)

  h3
    margin-top 0
  &.hidden
    display none

  ul
    margin-left 1em

  a
    font-weight 600