.campsi_user-list .items
  display flex
  flex-wrap wrap

  .array_item
    position relative

    & > button.remove
      height 1.2rem
      width 1.2rem
      line-height 1rem
      font-size 1rem
      padding 0
      display none
      position absolute
      top 0
      left 0
      background $contrast
      color white
      border 1px solid darken($contrast, 10)
      border-radius 3em

    &:hover > button.remove
      display inherit

  .campsi_user-list_user
    list-style-type none
    margin .25rem
    position relative


    .name
      position absolute
      bottom -3em
      left 0
      font-size: .635em
      padding: .2em .5em 0
      background: rgba($dark, .5)
      color $nearWhite
      text-align center
      white-space nowrap
      //display none
      min-width 3rem
      border-radius .5em
      opacity 0
      transition opacity .14s ease-in
      text-shadow: 1px -1px 2px #666

    &:hover .name
      display block
      opacity 1
      z-index 9999

.avatar
  box-sizing content-box
  border-radius .5em
  height 3.5rem
  width: 3.5rem
  overflow hidden
  position: relative
  border: solid 3px darken($nearWhite, 20)
  img
    height 3.5rem
    width 3.5rem
