//http://stackoverflow.com/questions/12605816/sticky-flexible-footers-and-headers-css-working-fine-in-webkit-but-not-in-gecko/12622740#12622740

.vmax
  display table
  height 100%
  width 100%
  overflow hidden

  > .row
    display table-row

    > .cell
      display table-cell

    &.hmax
      height 100%

      > .cell
        height 100%
        width 100%
        display inline-block
        overflow-y auto
        position relative
      /*box-shadow: inset 0 20px 20px -20px rgba($dark, 0.3)*/

      > .scroll > div
        position absolute
        top 0
        bottom 0
        width 100%

        .content
          min-height: 100%
