#welcome

  .cell
    background: lighten($dark, 40)
    color: white;
    //background-image url(/images/welcome-bg-small.jpg)
    //background-attachment fixed
    //background-size 100%

  .desc
    background linear-gradient(rgba($theme, .8), $theme)

  h1
    font-size: 6vw
    line-height 1em
    font-style: italic
    margin-top: .3em
    color white;

    span
      display block
      text-shadow rgba(black, .8) 1px 2px 4px

      &.dynamic
        margin-left 1em
        strong
          color $contrast

  .padding
    padding 2em