#welcome

  .cell
    background: lighten($dark, 40)
    color: white;
    background-image url(/images/welcome-bg-small.jpg)
    background-attachment fixed
    background-size 100%

  .desc
    background rgba($theme, .8)

  h1
    font-size: 7em
    font-style: italic
    margin-top: .3em
    color white;


  .padding
    padding 2em