.tags.component
  li
    display inline-block
    background $theme
    color white
    padding .2em 2em .2em .7em
    margin .2em
    position relative
    border-radius .2em
    overflow hidden

    a
      position absolute
      height 100%
      right 0
      top 0
      width 1.5em
      text-align center
      display block
      line-height 2.3em
      color white
      margin-left .5em
      font-weight bolder
      &:hover
        background rgba(white, .2)