#collections
  .content
    padding 1em
    padding-top $headerHeight + 1em

  a
    background white
    border-bottom 1px solid darken($light, 10)
    padding 1em
    display block

    &.active
      background $theme
      color white