.campsi_collection-designer_components
  .components
    display flex
    flex-wrap wrap
  h3
    margin-top 4rem
    font-size 1.5rem
    font-family $fontNarrow

.component-icon
  //float left
  background rgba($backgroundColor, .5)
  height $componentSize
  width $componentSize
  margin 1rem .5rem
  text-align center
  .icon
    display inline-block
    height $componentSize
    width $componentSize
    line-height $componentSize
    img
      //height 60%
      width 60%
      vertical-align middle