.collection.component {
    padding-right: 0;
}

.collection.component ul.items {
    list-style-type: none;
    margin:          0;
    padding:         0;
    box-sizing:      border-box;
    min-height:      4rem;
}

.collection-empty-item {
    padding:         0;
    list-style-type: none;
    display:         flex;
}

.collection-empty-item .field {
    flex: 1;
}
.collection-empty-item > button.new-collection-item {
    background: dodgerblue;
    border:none;
    color: white;
    margin-bottom: -1px;
    margin-top: -1px;
    font-weight: bold;
}

.collection-item, .collection-empty-item {
    display:    flex;
    margin:     -1px 0 0.5rem 0;
    width:      100%;
    border: 1px solid #cfcfcf;
    border-bottom: 3px solid rgba(56, 56, 56, 0.3);
    box-sizing: border-box;
    border-radius: 0.5rem;
    background: #FFF;
    overflow: hidden;
}

.collection-item:first-child {
    margin-top: 0;
}

.collection-item > .drag-handle {
    padding:             0.2rem;
    width:               2em;
    color:               transparent;
    background-image: url(drag-icon.png);
    background-size:     1em;
    background-position: center;
    background-repeat:   no-repeat;
    background-color:    rgba(0, 0, 0, 0.1);
    border-radius: 0.4em 0 0 0.4em;
}

.collection-item:hover > .drag-handle {
    background-image: url(drag-icon.png);
}

.collection-item > .field {
    flex: 1;
    margin-bottom: 0;
}

.collection-item > button.remove {
    border:          none;
    background:      url(remove-icon.png);
    background-size: contain;
    opacity:         0.3;
    width:           2em;
    height:          2em;
    margin:          0;
    color:           transparent;
    cursor:          pointer;
    align-self:      center;
}

.collection-item:hover > button.remove {
    opacity: 1
}

.collection-item > button.remove:hover {
    background-image: url(remove-icon-hover.png);
}

.collection.component p.placeholder {
    text-align: center;
    padding:    1.1em;
    font-style: italic;
    opacity:    0.4;
    position: absolute;
    width: 100%;
    z-index: -1;
}