.campsi_component-chooser
  padding 1em
  border-radius .5em
  display flex

  .placeholder
    align-self center
    margin-right 1em

  .form
    flex 1

  .component-type
    text-align center
    .icon
      width 4rem
      height 4rem
      padding .5rem
      margin-bottom: .5rem
    .name
      display block
