html
    head
    body(background='#ebecf0', style='background:#ebecf0;font-family:\'Helvetica Neue\',Helvetica,sans-serif;font-size:14px;line-height:20px;text-align:center;padding:40px')
        div(style='background:#FFF;padding:10px 40px 40px 40px;max-width:350px;margin: 0 auto;border-radius: 10px;')
            block content
