extends layout

mixin panel(title, id, classes)

  .panel(class=classes, id=id, style=style)
    .vmax
      .row
        .cell
          header
            button.prev(data-state='projects') Prev
            h2= title
            button.next(data-state='projects+project')  Next
      .row.hmax
        .cell.scroll
          .scrollpane
            .content
              block

block content
  .panels
    +panel('Hello', 'welcome', 'active w50')
      include partials/panels/welcome
    +panel('My Projects', 'projects', 'active l50 w50')
      include partials/panels/projects
    +panel('Project Detail', 'project', 'next')
      .component-container
    +panel('Collection Detail', 'collection', 'next')
      .component-container
    +panel('Collection Designer', 'collection-designer', 'next')
      .component-container
    +panel('Components', 'components', 'next')
      include partials/panels/components

block scripts
  script hola('welcome+projects')
