extends layout
block content
  .panels

    each panel in panels
      | !{panel}

block modal
  #code-editor-container
    #code-editor
    .buttons
      button.close close
      button.validate validate