doctype html
html
  head
    title=__("app.title")
    meta(name="theme-color", content="#ffffff")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    meta(property='og:title', content=__("app.og.title"))
    meta(property='og:site_name', content='Campsi.io')
    meta(property='og:url', content='https://campsi.io')
    meta(property='og:image', content='https://campsi.imgix.net/56261291c0e9425a0b9404d8-VkTqdHYze.png')
    meta(property='og:description', content=__("app.og.description"))

    link(rel="apple-touch-icon",sizes="180x180", href="/favicon.ico/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192" , href="/favicon.ico/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="96x96", href="/favicon.ico/favicon-96x96.png")
    link(rel="dns-prefetch" href="//campsi.imgix.net/")
    link(rel="dns-prefetch" href="https://js.stripe.com")

    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="/favicon.ico/ms-icon-144x144.png")

    link(rel='stylesheet', href='/stylesheets/main.css?v=' + version)
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,200,100,500,700', rel='stylesheet', type='text/css')

  body
    div#app(class = user ? 'logged-in' : 'visitor')
      block content

    div#loading

    a#support-tab(href='mailto:support@campsi.io')
      i(class='fa fa-question-circle fa-2x')
      span Support

    div#support

    div#modal
      block modal

    script(src='/lib/jquery/dist/jquery.min.js')
    block scripts


    script(type='application/javascript') window.I18N = !{JSON.stringify(translations)};
    script(src='/javascripts/campsi.core.js?v=' + version)
    script(src='/javascripts/campsi.app.js?v=' + version)
    script(src='/javascripts/campsi.components.js?v=' + version)
    script(src='/javascripts/campsi.editor.js?v=' + version)
    script(src='https://js.stripe.com/v2/')


