.campsi_landing

  @keyframes animateSpans
    from
      transform none

  header
    background linear-gradient(#02236a, #0474c7, #a5ccf2)
    //background url(http://campsi.imgix.net/56b0f1c85f9e20f80551b670-Ek8i4sOpl.jpg) no-repeat
    background-size cover
    text-align center
    height 100vh
    position relative
    padding-bottom 200px

    &::after
      display block
      content ''
      height 200px
      background url(/images/clouds-smokey.png)
      //background-size 50%
      background-repeat repeat-x
      position absolute
      bottom -10px
      width 100%
      //filter blur(10px)

    h1
      color lighten($theme, 50)
      text-shadow 1px 1px 0 darken($theme, 10), -1px -1px 0 rgba(white, .3)

    .center
      position absolute
      top 50%
      margin-top -150px
      height 300px
      width 100%

    h1
      font-size 160px
      font-weight 100
      height 200px
      text-align center
      width 100%
      line-height 160px

      span
        display inline-block
        animation-name animateSpans
        animation-duration 4s

      .c
        transform rotate(-5deg) translateY(-20px)
      .m
        transform rotate(-5deg) translateY(-30px)
      .s
        transform rotate(-7deg) translateY(-45px)

    h2
      font-size 32px
      font-weight 100
      padding-bottom 100px
      color lighten($theme, 50)
      strong
        font-weight 300


    .auth
      $authHeight = 3em
      height $authHeight
      text-align center
      line-height $authHeight
      font-size 2em
      button
        width 300px
        dark-button darken($theme, 15)
        margin-right 1em
        border 1px solid darken($theme, 20)
        border-bottom-width 2px













  section.about
    background white
    padding 2em
    padding-top 4em
    text-align center
    font-weight 200

    article
      max-width 940px
      margin 0 auto
      padding 1em
      color $darkText
      margin-bottom 2em

      h3
        font-size 2.2em
        font-weight 100
        margin 2em

        strong
          color $theme

      .text
        text-align center
        margin 2em auto
        font-size 1.2em
        color darken($light, 40)
        line-height 2em

        p
          margin-bottom 1.5em
    div.image
      overflow hidden
      border-radius .5em
      box-shadow 0 2px 10px rgba($dark, .5)
      height 500px
      img
        width 100%

  .activities
    overflow hidden
    height 540px
    width 100%
    margin-bottom 1em
    position relative
    list-style-type none

    li
      position absolute
      top 50%
      left 50%
      margin-top -70px
      margin-left -70px
      //overflow hidden
      display table
      padding 10px
      background $theme
      border-radius 140px
      height 140px
      width 140px
      font-size 14px
      color white
      line-height 20px
      //box-shadow 0 2px 20px rgba($theme, .3)
      background radial-gradient($theme, darken($theme, 10))
      //animation-name animateSpans
      //animation-duration 3s
      transition transform 1s ease-out, opacity 1s ease-out

      h4
        //display inline-block
        //line-height 0
        display table-cell
        vertical-align middle
        font-weight 200

      &.with-campsi
        border-radius 5px
        background $light
        color black
        width 200px
        height 220px
        transform translate(255px, -55px) scale(0)
        opacity 0
        border 1px solid darken($light,10)

  .added-value.visible
    li
      &.activity-cms
        transform scale(1.6, 1.6)
      &.activity-visual-identity
        transform scale(1.2, 1.2) translate(-120px, -135px)
      &.activity-consulting
        transform scale(.9, .9) translate(19px, -203px)
      &.activity-emailing
        transform scale(.8, .8) translate(178px, -146px)
      &.activity-seo
        transform scale(1.1, 1.1) translate(-133px, 133px)
      &.activity-ui
        transform scale(1.3, 1.3) translate(120px, 120px)
      &.activity-dev
        transform scale(1.2, 1.2) translate(-203px, 0)
      &.activity-hosting
        transform scale(.8, .8) translate(-3px, 225px)
      &.activity-cm
        transform scale(.8, .8) translate(224px, 0)


  .activities.with-campsi, .activities:hover
    li
      &.with-campsi
        transform translate(255px, -55px) scale(1, 1)
        opacity 1
      &.activity-cms
        transform scale(1.2, 1.2) translate(238px, 0)
        background $green
      &.activity-visual-identity
        transform scale(1.3, 1.3) translate(-125px, -112px)
      &.activity-consulting
        transform scale(1.1, 1.1) translate(-88px, 22px)
      &.activity-emailing
        transform scale(.9, .9) translate(13px, -117px)
      &.activity-seo
        transform scale(1.1, 1.1) translate(-159px, 148px)
      &.activity-ui
        transform scale(1.2, 1.2) translate(3px, 135px)
      &.activity-dev
        transform scale(1.3, 1.3) translate(-213px, 13px)
      &.activity-hosting
        transform scale(.8, .8) translate(60px, 28px)
      &.activity-cm
        transform scale(.9,.9) translate(-357px, 191px)


  .editing
    .components
      list-style none
      margin 0 auto
      li
        display inline-block
        height 130px
        width 100px
        color $dark
        margin 1em
        font-size 12px
        text-align center
        .icon
          display table-cell
          vertical-align middle
          background darken($light, 50)
          border-radius 10px
          height 100px
          width 100px
























section.pricing
  background $dark
  padding 2em
  color white
  position relative
  text-align center

  .price
    background $theme
    padding 1em
    display inline-block
    text-shadow 1px 1px 3px rgba(black, .3)
    border-radius .2em
    font-size 2em
    font-weight 200
    span
      font-weight 900

  .beta
    //display none
    position absolute
    top 0
    left 10%
    width 80%
    height 100%
    background rgba($dark, .8)
    p
      font-family "Marker Felt"
      line-height 5em
      padding-top 2em
      color $white
      text-shadow 0 0 4px rgba(black, .5)
      font-size 2.5em
      transform rotate(-3deg)


