.campsi_collection-designer_field
  border $borderStyle
  background white
  &.noname .advanced
    display none
  header
    background $textColor
    display flex
    align-items center
    padding  .5rem 1rem
    .type img
      width 1.5rem
    .identifier
      color $backgroundColor
      background transparent
      border none
      line-height 1.5em
      margin-left .5em
      padding 0 .5em
      border-radius .2em
      font-size 1.2em
      font-weight 500
      flex 1
      &:focus, &:hover
        outline none
    button
      font-size .8rem
  .form
    .label
      font-size .9em
    .component.text
      font-size .9em

.form-field-label .label
  display none