html  {
    /*background: url('background.png')*/
}

body {
    font-family: "Avenir Next", HelveticaNeue;
}

* {
    box-sizing: border-box;
}

input {
    font-size: 0.85em;
}

.field {
    position:      relative;
    margin-bottom: 0.5rem;
}

.field:last-of-type {
    margin-bottom: 0;
}

.field > .label {
    font-size: 0.85em;
    line-height: 2em;
    color: #6d6d6d;
    padding: 0 0.4rem;
}

.field > .control {
    
}

.collection-item {
    background: #ffffff;
}

.field .label, .field .control {
}

.field.error > .label {
    color: red;
}

.field.required {
    padding-right: 1rem;
}

.field.required > span.required {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    color:    gray;
    font-size: 1rem;
}

.field.layout-horizontal {
    display:         flex;
    justify-content: center;
}

.field.layout-horizontal > .label {
    margin-right: 1rem;
    align-self:   center;
}

.field.layout-horizontal > .control {
    flex: 1;
    align-self:   center;
}

body.outline .control {
    outline:    1px inset #a2ff21;
    background: rgba(162, 255, 33, 0.23);
}

body.outline .label {
    outline:    1px inset #ff5354;
    background: rgba(255, 83, 84, 0.23);
}

body.outline .field {
    outline:    1px inset lightblue;
    background: rgba(173, 216, 230, 0.23);
}

#components {
    list-style: none;
}

li.component-drag {
    list-style:    none;
    background:    linear-gradient(deepskyblue, dodgerblue);
    color:         white;
    padding:       .5rem 1em ;
    border-radius: .5rem;
    float:         left;
    margin:        .5em;
    border: 1px solid deepskyblue;
    border-bottom: 3px solid #1668b8;
    cursor: move;
}

li.component-drag.gu-transit {
    float:    none;
    position: relative;
    padding:  1em;
}

#designer {
    clear: left;
}

.debug {
    display: none;
}
