/*@import reset*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
.clear {
  clear: both;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/*@import colors*/
/*@import fonts*/
html,
body {
  font-family: "San Francisco", "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.45em;
}
button,
input,
select {
  font-family: "San Francisco", "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1rem;
  font-size: 1rem;
}
p {
  margin-bottom: 1.3em;
}
h1,
h2,
h3,
h4 {
  margin: 0.6em 0 0.6em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.074em;
}
h2 {
  font-size: 1.728em;
}
h3 {
  font-size: 1.44em;
}
h4 {
  font-size: 1.2em;
}
small,
.font_small {
  font-size: 0.833em;
}
.legal {
  font-size: 0.579em;
}
/*@import layout*/
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
.vmax {
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.vmax > .row {
  display: table-row;
}
.vmax > .row > .cell {
  display: table-cell;
}
.vmax > .row.hmax {
  height: 100%;
/*box-shadow: inset 0 20px 20px -20px rgba($dark, 0.3)*/
}
.vmax > .row.hmax > .cell {
  height: 100%;
  width: 100%;
  display: inline-block;
  overflow-y: auto;
  position: relative;
}
.vmax > .row.hmax > .scroll > div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.vmax > .row.hmax > .scroll > div .content {
  min-height: 100%;
}
.panels {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.panels .panel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.5s ease-in-out, width 0.5s ease-in-out;
  transform: translate3d(0, 0, 0);
}
.panels .panel .content {
  border-left: 1px solid #e5e8e9;
}
.panels .panel header {
  box-sizing: border-box;
  display: flex;
  border-bottom: 2px solid #006ad1;
  border-right: 1px solid #389dff;
  border-left: 1px solid #006ad1;
  border-top: 1px solid #84c2ff;
}
.panels .panel header h2 {
  font-size: 1em;
  padding: 0.5em;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  text-shadow: 1px 1px 0 #004384;
}
.panels .panel header button {
  margin: auto 0.5em;
  outline: none;
}
header.main {
  padding: 1rem;
  display: flex;
}
header.main h1 {
  flex: 1;
  font-size: 2em;
}
/*@import ui*/
/*@import style */
header.main {
  background: #31393c;
  color: #edeff0;
  border-bottom: 1px solid #000;
}
header.main h1 {
  font-weight: lighter;
  margin: 0;
}
footer.main {
  padding: 0.5em;
  background: #31393c;
  border-top: 1px solid #67787e;
  color: #edeff0;
}
.panel {
  background: #fafcfc;
}
.panel header {
  background: #1e90ff;
  color: #edeff0;
  border-bottom: 1px groove #0065c8;
  border-top: 1px groove #8fc7ff;
}
.panel header button {
  display: inline-block;
  background: transparent;
  border: 1px solid #edeff0;
  color: #edeff0;
  outline: none;
/*font-size 1em*/
  padding: 0.4em 0.5em 0.2em 0.5em;
  line-height: 1.2em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.8em;
  opacity: 0.7;
}
.panel header button:hover {
  opacity: 1;
}
.panel header button:active {
  opacity: 1;
  background: rgba(237,239,240,0.1);
}
.panel header h2 {
  color: #fafcfc;
}
.panel .content h1 {
  color: rgba(30,144,255,0.4);
/*text-shadow: inset 1px 1px 1px lighten($dark, 10)*/
/*color: rgba($dark, 0.8);*/
/*text-shadow: 1px 4px 6px $light, 0 0 0 $dark, 1px 4px 6px $light;*/
  font-weight: lighter;
}
button {
  display: inline-block;
  background: transparent;
  border: 1px solid #1e90ff;
  color: #1e90ff;
  outline: none;
/*font-size 1em*/
  padding: 0.4em 0.5em 0.2em 0.5em;
  line-height: 1.2em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.8em;
  opacity: 0.7;
}
button:hover {
  opacity: 1;
}
button:active {
  opacity: 1;
  background: rgba(30,144,255,0.1);
}
#projects .content {
  padding: 2em;
}
#projects .project {
  float: left;
  margin: 1em;
  cursor: pointer;
}
#projects .project .name {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 0.5em;
}
#projects .project.placeholder {
  opacity: 0.5;
  transition: opacity 0.1s;
}
#projects .project.placeholder:hover {
  opacity: 1;
}
#projects .project.placeholder .name {
  font-style: italic;
}
#projects .project.placeholder .logo {
  border: 3px dashed #b5bec2;
  box-shadow: none;
  color: #1e90ff;
/*font-size: em*/
  text-align: center;
}
#projects .project:hover .logo {
  border-bottom-color: #b5bec2;
}
#projects .project .logo {
  background: #fff;
/*box-shadow -1px 1px 2px rgba($dark, .1)*/
  border: 2px solid #eaf2f2;
  border-bottom: 3px solid #d1d6d9;
  width: 10em;
  height: 10em;
  border-radius: 10px;
  padding: 1em;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
#projects .project .logo img {
  margin: 0 auto;
  max-width: 8em;
  max-height: 8em;
}
#project .content {
  padding: 2rem;
}
.component.invisible .control {
  position: relative;
  display: flex;
}
.component.invisible .control input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 0.5em;
}
.component.invisible .control::before {
  content: '✎';
/*border 1px solid red*/
/*position absolute*/
  color: #bad6d6;
/*left 0*/
/*top 0*/
  width: 1em;
  align-self: center;
}
.project-name .control {
  font-size: 2.5em;
}
.campsi_user-list {
  min-height: 6em;
/*border: 1px solid red*/
}
.campsi_user-list .campsi_user-list_user {
  float: left;
  list-style-type: none;
  margin-right: 0.5rem;
  position: relative;
}
.campsi_user-list .campsi_user-list_user .name {
  font-size: 0.635em;
  position: absolute;
  padding: 0.2em 0.5em 0;
  background: rgba(49,57,60,0.5);
  color: #fafcfc;
  bottom: -3em;
  left: 0;
  text-align: center;
  white-space: nowrap;
  display: none;
  min-width: 3rem;
  border-radius: 0.5em;
  text-shadow: 1px -1px 2px #666;
}
.campsi_user-list .campsi_user-list_user:hover .name {
  display: block;
}
.avatar {
  border-radius: 3em;
  height: 3.5rem;
  width: 3.5rem;
  overflow: hidden;
  float: left;
  position: relative;
  border: solid 0.2rem #eaf2f2;
}
.avatar img {
  height: 3.5rem;
  width: 3.5rem;
}
.control .label {
  font-weight: normal;
  font-size: 1em;
  color: #4e585d;
  margin: 1em 0 0.1em;
}
#project .component.title {
  font-size: 2em;
}
#project .component.title input {
  font-size: 2em;
  font-weight: lighter;
}
#project .collections .campsi_collection-list_collection {
  background: #fff;
  border: 0.1em solid #e7eaeb;
  border-bottom-color: #d1d6d9;
  border-radius: 0.5em;
  margin-bottom: 1em;
  padding: 1em;
}
#welcome h1 {
  font-size: 7em;
  font-style: italic;
  margin-top: 0.3em;
  color: #fff;
}
#welcome .scroll {
  background: #93a1a6;
  color: #fff;
}
.form_array_item[data-item-type='campsi/collection-designer/field'] {
  background: #fff;
  border: 1px solid #e7eaeb;
  border-bottom: 3px solid #cbd2d4;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}
.campsi_collection-designer_field {
  display: flex;
}
.campsi_collection-designer_field > aside {
  width: 2rem;
  display: flex;
  flex-direction: column;
  border-right: #bdc6c9 1px solid;
}
.campsi_collection-designer_field > aside .drag-handle {
  background: #afb9bd;
  flex: 2;
  min-height: 4rem;
}
.campsi_collection-designer_field > aside .type {
  height: 2rem;
  width: 2rem;
  background: #1e90ff;
  overflow: hidden;
}
.campsi_collection-designer_field > .form {
  flex: 1;
  padding: 1em;
}
.form-field-label,
.form-field-name,
.form-field-required {
  display: flex;
  margin-bottom: 0.2em;
}
.form-field-label .label,
.form-field-name .label,
.form-field-required .label {
  margin: 0;
  margin-right: 1rem;
  min-width: 5rem;
  align-self: center;
  text-align: right;
}
.form-field-label .control,
.form-field-name .control,
.form-field-required .control {
  flex: 1;
  align-self: center;
}
.form-field-label .control input,
.form-field-name .control input,
.form-field-required .control input {
  width: 100%;
}
.form-field-name {
  font-size: 0.75em;
}
.form-field-name input {
  font-size: 1em;
}
#collection-designer .cell {
  background: #e7eaeb;
}
#collection-designer .component.title {
  font-size: 2em;
}
#collection-designer .component.title input {
  font-size: 2em;
  font-weight: lighter;
}
#collection-designer .content {
  padding: 2rem;
}
#components header {
  background: #0077ea;
  border-top-color: #51a9ff;
  border-bottom-color: #004384;
}
#components .search {
  display: none;
}
#components .search input {
  font-size: 1.2rem;
  background: transparent;
  border: 1px solid #1e90ff;
  border-radius: 3rem;
  padding: 0.5rem;
}
#components .search input:focus {
  outline: none;
}
#components .cell {
  background: linear-gradient(#005db7, #004384);
}
#components .content {
  padding: 2rem;
  color: #fff;
}
#components .components {
  margin-left: -1rem;
}
#components .components .component {
  float: left;
}
.component.icon.draggable {
  margin: 1rem;
  cursor: all-scroll;
}
.component.icon.draggable .icon {
  background: linear-gradient(45deg, #000, #002951);
  color: #fafcfc;
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
  border: 1px solid #84c2ff;
  border-bottom: 3px solid #1e90ff;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  font-weight: lighter;
}
.component.icon.draggable:hover .icon {
  background: linear-gradient(45deg, #000, #005db7);
  border-bottom-color: #0077ea;
}
.component.icon.draggable .name {
  width: 5rem;
  text-align: center;
  display: block;
  font-size: 0.8rem;
}
#welcome .content {
  padding: 2em;
}
