.component.file, .component.file_image
  overflow hidden
  position relative

  //&.is-dragover
  //  background $theme

  .buttons
    display none
    position absolute
    top 0
    right 0

  .download, .info
    min-width 3em
    margin .5em
    margin-left 0
    //&.info
    //  dark-button($green)


  .preview
    display none
    position relative
    text-align center
    padding 1em
    background white

    svg
      height 140px
      width 105px
      //.file
      //  fill $theme
      //.corner
      //  fill lighten($theme, 20)

    &:after
      content: attr(data-filename)
      color white
      position absolute
      text-align center
      top 55px
      width 100px
      height 70px
      vertical-align middle
      left 50%
      margin-left -50px
      display block
      font-size .9em
      font-weight 600
      text-overflow ellipsis
      word-wrap break-word

    &:before
      content: attr(data-ext)
      color rgba(white, .6)
      position absolute
      text-align center
      bottom 25px
      width 100%
      left 0
      display block
      font-size 1.3em

    img
      max-width 100%

  .meta
    position absolute
    top 0
    display none
    width 100%
    height 100%
    overflow-y scroll
    //background $dark
    color white
    font-size 0.8em

    table
      //border-top 1px solid lighten($dark, 10)
      margin-top 4em
      width 100%

    //tr
    //  border-bottom 1px solid lighten($dark, 10)
    th, td
      padding 0 .5em
    th
      width 12em
      text-align left
    td
      font-family monospace

  .has-file
    .preview, .buttons
      display block

  .show-info
    .meta
      display block