.component.file, .component.file_image
  lightInput()
  overflow hidden
  position relative
  border-bottom none

  &.is-dragover
    background $theme

  .buttons
    position absolute
    top 0
    right 0

  .download, .info
    dark-button($theme)
    min-width 3em
    margin .5em
    margin-left 0
    &.info
      dark-button($green)


  .preview
    display none
    position relative
    text-align center
    padding 1em

    svg
      height 140px
      width 105px
      .file
        fill $theme
      .corner
        fill lighten($theme, 20)

    &:after
      content: attr(data-ext)
      color white
      position absolute
      text-align center
      top 50%
      width 100%
      left 0
      display block
      font-size 1.5em

    img
      max-width 100%

  .meta
    position absolute
    top 0
    display none
    width 100%
    height 100%
    overflow-y scroll
    background $dark
    color white
    font-size 0.8em

    table
      width 100%

    tr
      border-bottom 1px solid lighten($dark, 10)
    th, td
      padding 0 .5em
    td
      font-family monospace

  .has-file
    .preview, .buttons
      display block

  .show-info
    .meta
      display block