.campsi_sdk
  padding 1em

  h1
    font-size 1.5em
    font-weight 200;
    margin-top .5em
    margin-bottom .3em

  h2
    margin-top 1em
    font-size 1.1em

  pre
    margin-top .5em
    overflow-y scroll
    padding 12px
    border 1px solid $light
    border-radius 6px
    font-size 12px
    line-height 16px

  ol
    margin-left 1.5em

  div[data-type="url"]
    margin-top .5em
    display flex
    input
      flex 1
      font-size 12px
    a
      border-radius 0 .2em .2em 0

  .optional
    h2 a
      font-size .9em
      font-weight 200
    .block
      height 0
      visibility hidden

    &.visible .block
      height auto
      visibility visible