.designer-field.component > .control > .component > .label {
    min-width: 5rem;
}

.designer-field.component > .control > .name-field {
    font-size: 0.8em;
}

.designer-field.component > .control > .name-field input {
    font-family: "Consolas", "Menlo", "Courier", monospace;
}

.designer-field.component > .control > .form.component {
    padding: 0;
}

.designer-field.component button.properties {
    display: none;
}

.designer-field.component h2 {
    border-bottom: 1px solid dodgerblue;
    color: black;
    padding: 0.25em;
    margin-bottom: 0.5em;
}

.designer-field.collapsed h2 {
    border: none;
    margin: 0;
}

.designer-field h2 img {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5rem;
}

.designer-field.collapsed > .control > .field {
    display: none;
}