@import "./wizard/component.styl"

.campsi_collection-list
  .newItem
    input[type=submit]
      dark-button($theme)

.array_item[data-item-type="campsi/collection-list/collection"]
  display inline-block
  position relative
  margin 0 1em 1em 0

  padding 1em
  padding-left 3em

  > button.remove
    display none

  > .drag-handle
    position absolute
    top 50%
    cursor all-scroll
    width 1em
    height 20px
    margin-right .5em
    margin-top -10px
    left 1em
    //border 1px solid red
    display block
    opacity 1
    background url('../images/ui/drag-handle-3.png') no-repeat
    background-size: 100% 100%;
    transition opacity .2s ease-out

    &:hover
      opacity 1

  .name
    font-size 1.2em
    font-weight 500

  .actions
    img
      height 1.5em
      width 1.5em