.component.number_rating
  user-select none
  span
    user-select none
    display inline-block
    height 1.5em
    width 1.5em
    opacity .3
    text-align center
    cursor pointer
    font-size 20px

    &:last-child
      margin 0

    &.checked
      opacity 1

    &.hover
      color $theme
      opacity 1

