mixin component(name, label, icon)
  .component.draggable.icon(data-component-type=name)
    div.icon.drag-handle=icon
    span.name=label

.search
  form
    input(type="search", placeholder="search")

.standard
  //h2 Standard
  .group
    h3 Text & Number
    .components.dragzone
      +component('form/text', 'Text Field', 'A')
      +component('form/text-area', 'Text Area', 'Abc')
      +component('form/number', 'Number', '0-9')
      +component('form/checkbox', 'Checkbox', '☑')
      .clear
  .group
    h3 Select & groups
    .components.dragzone
      +component('form/select', 'Dropdown', '')
      +component('form/select-ajax', 'Ajax Select', '')
      +component('form/radio-button-group', 'Radio Button Group', '')
      +component('form/combobox', 'Combo Box', '')
      .clear
  .group
    h3 Structure
    .components.dragzone
      +component('form/array', 'Array', '')
      +component('form', 'Form', '')
      .clear