mixin collection(name, classes)
  .collection(class=classes)
    span.name= name
    .status
    .status

mixin user(name, img)
  .avatar
    img(src=img)
  span.username= name

.control
  .label Name
  .input.invisible.project-name
    input(value='Exaprint')
.control.admins.users
  .label Administrators
  .input
    ul
      li
        +user('Romain Bessuges-Meusy','http://lorempixel.com/64/64/people/1')
      li
        +user('Sébastien Gourdon','http://lorempixel.com/64/64/people/2')
      li
        +user('Laurent Thomas','http://lorempixel.com/64/64/people/3')
      li
        +user('Romain Paul','http://lorempixel.com/64/64/people/4')

.control.designers.users
  .label Designers
  .input
    ul
      li
        +user('Romain Bessuges-Meusy','http://lorempixel.com/64/64/people/1')
      li
        +user('Sébastien Gourdon','http://lorempixel.com/64/64/people/2')

.control.collections
  .label Collections
  .control
    ul
      li
        +collection('homepage', 'online')
      li
        +collection('actualites', 'online')
      li
        +collection('top_ventes', 'online')
      li
        +collection('promos', 'offline')

.control.forms
  .label Forms
