//mixin project(project)
//  .project(data-id=project._id)
//    .logo(data-state='projects+project')
//      img(src=project.iconURL)
//    span.name= project.name
//
////h2 Projects
//.projects
//
//  each project in projects
//    +project(project)
//
//  .project.placeholder
//    .logo
//      img(src='images/ui/plus.png')
//    span.name New Project
