.marquee

.padding
  h1 create <strong>static</strong><br> sell <strong>dynamic</strong>

.padding.desc
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet tincidunt viverra. Fusce fermentum vel urna nec finibus. Nam in gravida leo. Sed mattis enim vitae quam venenatis luctus. Vivamus fringilla nulla leo, non tincidunt felis consectetur eu. Nullam in lacus gravida, pulvinar tellus at, scelerisque dolor. Vivamus in mollis ante. Praesent feugiat magna diam, elementum accumsan eros cursus ac. Nullam sit amet nisl feugiat, mattis enim non, placerat libero. Etiam dignissim risus in lectus iaculis, vel blandit nulla sagittis. Mauris eu neque consequat magna tristique aliquet id eget lacus.
  p Proin id dolor consequat lectus dictum suscipit eu id neque. Donec at mattis ex. Donec ut ligula massa. Pellentesque faucibus rutrum turpis ut efficitur. Praesent leo mi, accumsan ac iaculis ac, volutpat non justo. Sed rutrum aliquet quam, id porttitor arcu dapibus eu. Fusce quis tortor luctus, efficitur metus in, mattis nisi.
  p Quisque fringilla pharetra sapien. Nam mi sapien, imperdiet vel vehicula eu, aliquam porta sapien. Ut urna leo, interdum at vestibulum quis, rutrum vel risus. In hac habitasse platea dictumst. Nullam vel dolor finibus, elementum ipsum eu, sodales nibh. Donec ornare imperdiet neque ac eleifend. Cras in semper elit. Donec scelerisque mi eros, non semper dolor accumsan quis. Etiam ullamcorper, dui venenatis lacinia interdum, quam lacus elementum neque, ut tempor dolor augue quis tortor. Phasellus eu vestibulum ex, id mattis quam. Ut vitae dapibus augue.
  p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse nec cursus ipsum. Morbi tortor metus, tempus et placerat in, elementum nec magna. Sed ac consectetur diam. Sed iaculis turpis orci, et congue risus ultricies et. Nulla facilisi. Maecenas in volutpat dui. Maecenas aliquam, augue in accumsan suscipit, massa urna vulputate arcu, non suscipit lacus velit vitae odio. Donec non vehicula nunc. Vivamus at facilisis ipsum, vitae bibendum ipsum. In ipsum tellus, luctus in maximus eget, euismod id ligula. Quisque feugiat finibus maximus.
