.component.url
  display flex

  input
    input()
    flex 1
    font-family Consolas, Menlo, Monaco, monospace
    font-size 12px

  //a.btn
  //  dark-button $theme
    //border-radius 0 4px 4px 0
    //color white
    //height 2.7em
    //box-shadow 0 1px 3px rgba(black, .2)
