//$themeColor = dodgerblue
$textColor = black
$backgroundColor = white
$errorColor = red
$font = "PT Sans", "Myriad Pro", Arial, sans-serif
$fontNarrow = "PT Sans Narrow", Arial, sans-serif
$inputIdleBackground = rgba($backgroundColor, 0.4)
$inputFocusBackground = rgba($backgroundColor, 0.6)
$inputDisabledBackground = rgba($backgroundColor, 0.4)
$inputIdleColor = rgba($textColor, 0.9)
$inputFocusColor = $textColor
$inputDisabledColor = rgba($textColor, 0.6)
$inputPlaceholderColor = rgba($textColor, 0.5)
$labelColor = rgba($textColor, 0.8)
$panelHeaderHeight = 14rem
$componentSize = 5rem