input.component.text
  lightInput()
  padding: 0.5em 0.5em 0.4em 0.5em;
  font-size 0.94em
  width: 100%;

  &::placeholder
    padding-top 0
    font-weight 200
    font-style: italic

.component.text_area
  lightInput()
  position relative
  width 100%
  min-height 5rem
  padding .5em
  font-size .90em
  margin 0


