.campsi_landing
  article
    max-width 940px
    margin 0 auto
    padding 1em
    color $darkText
    margin-bottom 2em

  section
    background white
    padding 2em
    padding-top 4em
    text-align center
    font-weight 200

    h3
      font-size 2.2em
      line-height 1.5em
      font-weight 500
      margin 2em
      color $theme

    .text
      text-align center
      margin 2em auto
      font-size 1.2em
      color darken($light, 40)
      line-height 2em

      p
        margin-bottom 1.5em
