#landing-editing
  //perspective 2000px
  background linear-gradient(darken($dark, 20), 20%, lighten($dark, 10))

  h3
    color white
    text-shadow 0 1px 3px black
  .text
    color white
  div.image
    overflow hidden
    border-radius .5em
    box-shadow 0 5px 80px rgba($theme, .5)
    img
      width 100%


  .components
    list-style none
    margin 0 auto
    li
      display inline-block
      height 130px
      width 100px
      color $light
      margin 1em
      font-size 12px
      text-align center
      .icon
        display table-cell
        vertical-align middle
        background darken($light, 50)
        border-radius 10px
        height 100px
        width 100px