@media screen and (max-width: 600px)
  .campsi_landing
    article
      width 100%
      padding 0
      h3
        font-size 24px
    header
      .center
        top 0
        margin-top 100px
      h1
        font-size 30vw
      h2
        font-size 20px
        line-height 30px

  #landing-added-value
    aside
      display none
      height 240px
      ul
        transform scale(.45)
        width 820px
        height 500px
        top 0
        left 0
        transform-origin -72px 0px

  #landing-api
    div.applications span.arrow
      display none
    .tech
      h3
        font-size 18px
      li
        margin 5px
        font-size 12px
        .icon
          width 50px
          height 50px

  #landing-pricing
    article
      width 100%
    .price
      float none

    .bullets
      padding 12px
      margin-left 40px
      font-size 12px

      li
        margin-bottom 2em
        line-height 20px

  .logged-in
    .campsi_landing
      header
        .center
          margin-top 40vh