.campsi_collection
  &.highlighted
    .campsi_collection-designer_field
      > header
        opacity .4
      &.highlight
        > header
          opacity 1

.array_item[data-item-type='campsi/collection-designer/field']
  margin-bottom 1em
  position relative

  &:last-child
    margin-bottom 0

  > button.remove
    display none


.campsi_component-list

  position relative
  padding 1em

  > .items.dropzone
    padding-bottom 1em
    border-radius 1em
    transition padding-bottom .5s ease-in
    border 2px dashed transparent

    &:empty
      border-color darken($light, 10)

      &:after
        content attr(data-placeholder)
        display block
        font-size 1.5em
        font-weight 100
        color $dark
        text-align center
        padding 2em

      .gu-transit
        display none



body.dragging .campsi_component-list
  > .items.dropzone.hovered
    padding-bottom 6em

  > .placeholder
    display none

.campsi_collection-designer_field
  background white
  width 100%
  border-radius .5em
  overflow hidden

  &.noname .advanced
    display none

  .campsi_collection-designer_field
    border 1px solid darken($light, 10)

  > .items
    background darken($light, 10)
    padding .5em

  header
    $background = darken($light, 30)
    display flex
    align-items center
    background $background
    padding .25em .5em .3em .5em
    font-size .9em
    transition background .2s linear

    .identifier
      line-height 1.5em
      margin-left .5em
      color $nearWhite
      font-size 1.2em
      font-weight 500
      text-shadow lighten($dark, 40) 0 1px 0

    .type
      margin-left .5em
      //border 1px solid red
      //display table-cell
      //vertical-align middle
      height 1.5em
      img
        max-height 100%

    .spacer
      flex 1
    //border 1px solid greenyellow

    .drag-handle
      //border 1px solid blue
      height 1.5em
      width 1.5em
      text-align center
      font-size 0.8em
      color white;
      background url(/images/ui/drag-handle-3.png) no-repeat
      cursor all-scroll
      background-size: 100% 100%;
      transition opacity .2s ease-out
      opacity 0.5

      &:hover
        opacity 1

    button
      dark-button $background
      margin-left .2em
      color white

      border-color transparent
      overflow hidden

  > .form
    padding .5em
    background $light

  &.closed
    border-bottom-width 1px
    > .form
      display none

  .form_field
    //display flex
    //margin-bottom .2em

    .label
      text-align left
      font-size .9em
      font-weight 900
      padding .5em

    &.form-field-label
      .label
        display none

    .control
      flex 1
      align-self center

      input
        width 100%

  .form_field[data-comp-type="campsi/component-chooser"]
    margin-top .5em

    .campsi_component-chooser
      padding .5em
      background $light
      border 1px solid darken($light, 5)
      border-radius .5em
      display flex
      .placeholder
        align-self center

      .form
        flex 1

    .label
      display none

  .form_field.form_fields
    margin-top .75em
    > .label
      display none

.form-field-name
  font-size 0.75em

.form-field-name input
  font-size 1em

#designer

  background darken($light, 2)

  .component.title
    font-size 2em

    input
      font-size 2em;
      font-weight lighter

  .content
    padding 2rem
    padding-top $headerHeight + 2rem

.component-type
  display block

.campsi_collection-designer_field .form_field.dropdown-options
  margin-top .5em

  .placeholder
    display none

  > .label
    align-self auto

  .newItem
    background #f9f9f9
    border-radius .3em
    box-shadow 0 1px 3px rgba(black, .3)
    padding .5em
    display flex
    align-items center
    margin-top .5em
    .form
      flex 1
    input[type=submit]
      dark-button($theme)
      display inline-block
      width auto
    .fields
      display flex
      .form_field
        margin-right .5em

        &[data-name="value"]
          width 6em
        &[data-name="label"]
          flex 1

  .array_item
    display flex
    align-items center
    margin-bottom .4em
    .remove
      //margin-top -2px
      dark-button($red)

    .container
      flex 1

    .fields
      display flex
      .form_field
        margin-right .5em
        &[data-name="value"]
          width 6em
        &[data-name="label"]
          flex 1

#fieldProperties
  > .content
    padding-top $headerHeight
