.array_item[data-item-type='campsi/collection-designer/field']
  margin-bottom .5em
  position relative

  &:last-child
    margin-bottom 0

  > button.remove
    display none

  .placeholder
    padding .5em
    display inline-block
    overflow hidden
    color darken($light, 20)
    font-style italic
    border 3px dashed darken($light, 10)
    text-align center
    border-radius .5em
    float left
    margin-right 1em
    background darken($light, 1)

.campsi_component-list
  position relative

  > .items.dropzone:empty
    min-height 5em;
    background $light
    border 3px dashed darken($light, 10)

    &::before
      content: 'drop fields here'
      position absolute
      top 50%
      left 50%
      height 2em
      width 10em
      margin-left -5em
      margin-top -1em

.campsi_collection-designer_field
  background white
  border 1px solid lighten($dark, 50)
  border-bottom-width 3px
  border-bottom-color lighten($dark, 50)

  width 100%
  border-radius .25em
  overflow hidden

  > .items
    background darken($light, 10)
    padding .5em

  header
    $background = lighten($dark, 50)
    display flex
    align-items center
    background $background
    padding .25em

    .type, .identifier
      line-height 1.5em
      margin-left .5em
      color $nearWhite
      font-size 1.2em

    .type
      font-weight lighter

    .identifier
      font-weight 500
      text-shadow lighten($dark, 40) 0 1px 0

    .spacer
      flex 1
    //border 1px solid greenyellow

    .drag-handle
      //border 1px solid blue
      height 1.5em
      width 1.5em
      text-align center
      font-size 0.8em
      color white;
      background url(/images/ui/drag-handle-3.png) no-repeat
      cursor all-scroll
      background-size: 100% 100%;
      transition opacity .2s ease-out
      opacity 0.5

      &:hover
        opacity 1

    button
      background darken($background, 5)
      margin-left .2em
      color white
      border none
      overflow hidden

  > .form
    padding .5em

  &.closed
    border-bottom-width 1px
    > .form
      display none

  .form_field
    display flex
    margin-bottom .2em

    .label
      margin 0
      margin-right 1rem
      min-width 5rem
      align-self center
      text-align right

    .control
      flex 1
      align-self center

      input
        width 100%

  .form_field[data-comp-type="campsi/component-chooser"]
    margin-top: .5em
    .label
      align-self auto

  .form_field.form_fields
    margin-top .75em
    > .label
      display none

.form-field-name
  font-size 0.75em

.form-field-name input
  font-size 1em

#designer

  background darken($light, 2)

  .component.title
    font-size 2em

    input
      font-size 2em;
      font-weight lighter

  .content
    padding 2rem
    padding-top $headerHeight + 2rem

.component-type
  display block

.campsi_collection-designer_field .form_field.dropdown-options
  margin-top .5em
  
  > .label
    align-self auto

  .newItem
    display flex
    align-items center
    margin-top .5em
    .form
      flex 1
    input[type=submit]
      light-button($theme)
      margin-top -4px
      display inline
      width auto
    .fields
      display flex
      .form_field
        margin-right .5em

        &[data-name="value"]
          width 4em
        &[data-name="label"]
          flex 1

  .array_item
    display flex
    align-items center
    margin-bottom .2em
    .remove
      margin-top -2px
      dark-button(red)

    .container
      flex 1

    .fields
      display flex
      .form_field
        margin-right .5em
        &[data-name="value"]
          width 4em
        &[data-name="label"]
          flex 1

@keyframes slideToTop
  from
    transform translateY(2000px)
  to
    transform translateY(0)

#designer
  .modal
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background rgba(white, .8)
    padding 5em
    display none

    &.visible
      display block

      .advanced-form
        animation slideToTop .5s

    .advanced-form
      background white
      border-radius .5em
      overflow hidden
      box-shadow 0 10px 30px rgba(black, .3)

      header, footer
        text-align center
        padding .5em
        position relative
        height 2.9em
        span
          color white
          flex 1
        button
          position absolute
          right .5em
          light-button($theme)

      header
        background black

      .form
        padding 1em

        .form_field
          margin-bottom 1em

          .label
            font-size .85em
            color lighten($dark, 20)

      footer
        background gray
        button
          light-button($contrast)