#collection

  .campsi_collection_intro
    display none

  &.new
    > header
      .buttons.right
        button, a
          display none
      .admin
          display none
    &.modified
      > header button.save
        display inherit
    .campsi_collection_api-doc
      display none
    .campsi_collection_intro
      display block

  &.demo
    > header button.delete
      display none

  .buttons .admin
    dark-button($green)

  > .content
    padding-top $headerHeight



  .component.button
    light-button $theme


  .form_field.fields
    margin-top 3em
    background lighten($dark, 20)
    > .label
      display none
    > .control > .campsi_component-list > .items.dropzone
      padding-bottom 20em
      &:empty
        border dashed 6px lighten($dark, 10)

        &:after
          content attr(data-placeholder)
          display block
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          font-size 1.5em
          font-weight 100
          color white
          text-align center
          padding 2em

.campsi_collection > .form > .fields > .form_field
  padding 1em
  > .label
    font-size 1.2em
    padding .5em 0

  &:nth-child(even)
    background lighten($light, 2)

.campsi_collection_intro
  intro()
