.array_item[data-item-type='campsi/collection-designer/field']
  margin-bottom 1em
  position relative

  &:last-child
    margin-bottom 0

  > button.remove
    display none

  .placeholder
    padding .5em
    display inline-block
    overflow hidden
    color darken($light, 20)
    font-style italic
    border 3px dashed darken($light, 10)
    text-align center
    border-radius .5em
    //float left
    margin-right 1em
    background darken($light, 1)

.campsi_component-list
  position relative

  > .placeholder
    text-align center
    padding-bottom 1em

  > .items.dropzone:empty
    height 10em;
    background $light
    border 3px dashed darken($light, 10)

.campsi_collection-designer_field
  background white
  //border 1px solid tint($dark, 50)
  //box-shadow 0 2px 25px tint($dark, 60)
  //border-bottom-width 3px
  //border-bottom-color lighten($dark, 50)
  width 100%
  border-radius .5em
  overflow hidden

  .campsi_collection-designer_field
    border 1px solid $light

  > .items
    background darken($light, 10)
    padding .5em

  header
    $background = darken($light, 20)
    display flex
    align-items center
    background $background
    padding .2em .5em
    font-size .9em

    .type, .identifier
      line-height 1.5em
      margin-left .5em
      color $nearWhite
      font-size 1.2em

    .type
      font-weight lighter

    .identifier
      font-weight 500
      text-shadow lighten($dark, 40) 0 1px 0

    .spacer
      flex 1
    //border 1px solid greenyellow

    .drag-handle
      //border 1px solid blue
      height 1.5em
      width 1.5em
      text-align center
      font-size 0.8em
      color white;
      background url(/images/ui/drag-handle-3.png) no-repeat
      cursor all-scroll
      background-size: 100% 100%;
      transition opacity .2s ease-out
      opacity 0.5

      &:hover
        opacity 1

    button
      dark-button $background
      margin-left .2em
      color white

      border none
      overflow hidden

  > .form
    padding .5em

  &.closed
    border-bottom-width 1px
    > .form
      display none

  .form_field
    //display flex
    //margin-bottom .2em

    .label
      text-align left
      font-size .9em
      font-weight 900
      padding .5em

    &.form-field-label
      .label
        display none

    .control
      flex 1
      align-self center

      input
        width 100%

  .form_field[data-comp-type="campsi/component-chooser"]
    margin-top .5em

    .campsi_component-chooser
      padding .5em
      background $light
      border 1px solid darken($light, 5)
      border-radius .5em
      display flex
      .placeholder
        align-self center

      .form
        flex 1

    .label
      display none

  .form_field.form_fields
    margin-top .75em
    > .label
      display none

.form-field-name
  font-size 0.75em

.form-field-name input
  font-size 1em

#designer

  background darken($light, 2)

  .component.title
    font-size 2em

    input
      font-size 2em;
      font-weight lighter

  .content
    padding 2rem
    padding-top $headerHeight + 2rem

.component-type
  display block

.campsi_collection-designer_field .form_field.dropdown-options
  margin-top .5em

  .placeholder
    display none

  > .label
    align-self auto

  .newItem
    background #f9f9f9
    border-radius .3em
    box-shadow 0 1px 3px rgba(black, .3)
    padding .5em
    display flex
    align-items center
    margin-top .5em
    .form
      flex 1
    input[type=submit]
      dark-button($theme)
      display inline-block
      width auto
    .fields
      display flex
      .form_field
        margin-right .5em

        &[data-name="value"]
          width 4em
        &[data-name="label"]
          flex 1

  .array_item
    display flex
    align-items center
    margin-bottom .4em
    .remove
      //margin-top -2px
      dark-button($red)

    .container
      flex 1

    .fields
      display flex
      .form_field
        margin-right .5em
        &[data-name="value"]
          width 4em
        &[data-name="label"]
          flex 1

@keyframes slideToTop
  from
    transform translateY(2000px)
  to
    transform translateY(0)

#collection
  .modal
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background rgba(white, .8)
    display none

    &.visible
      display block

      .advanced-form
        animation slideToTop .5s

    .advanced-form
      margin 2rem
      margin-top 4rem
      background white
      border-radius .5rem
      height calc(100% - 5rem)
      border 1px solid #b4b4b4
      overflow hidden
      box-shadow 0 10px 30px rgba(black, .5)

      > .wrapper
        position relative
        max-height calc(100% - 5rem)
        width 100%
        overflow scroll

      header, footer
        text-align center
        padding .5em
        height 2.8rem
        span
          color white
          flex 2
        button
          light-button($theme)

      header
        display flex
        align-items center
        border-radius .5rem .5rem 0 0
        background #151515
        border-bottom 1px solid black

      .form

        .form_field
          padding .5em
          border-bottom 1px solid $light

          &:last-child
            border none

          .label
            color lighten($dark, 20)

      footer
        position absolute
        bottom 1rem
        width calc(100% - 4rem - 2px)
        border-radius 0 0 .5rem .5rem
        border-top 1px solid #a0a0a0
        background #d8d8d8
        button
          light-button($contrast)