#collection
  .buttons .admin
    dark-button(limegreen)

  > .content
    padding-top $headerHeight

  .form_field
    padding 1em
    padding-bottom 0

    &.big-title
      padding 0

  .component.button
    light-button $theme

  .form_field.fields
    margin-top 3em
    padding-bottom 8em
    //background linear-gradient(160deg, rgba(#BBB, .5), 15%, rgba(#EEE, .5))
    background #dcdcdc
    > .label
      color #525252
      font-size 2em
      margin-bottom .5em
    .form_field
      padding 0