$componentSize = 3.5em;

#components

  box-shadow none
  //background $dark url(../images/ui/dark_geometric.png)

  > .content
    padding-top $headerHeight
    color white
    border-left-color: transparentify($theme, #7cedfd, .2);
    h3
      font-weight 200
      padding .2em 1em 0 1em
    h2, h3
      text-shadow 0 1px 1px #333

  .group
    h3
      margin 0
      padding .2em .5em .1em .5em
      font-weight 200
      color white
      //background linear-gradient($theme, 5%, darken($dark, 5))
      background darken($dark, 10)
      text-align left

  .components
    text-align left
    //box-shadow inset rgba(#000, .3) 0 3px 6px 2px
    .component
      padding 1em
      display inline-block
      margin: 0
      .name
        text-shadow: 0 1px 1px #333

.component.icon.draggable

  //border 1px solid red
  cursor: all-scroll

  .icon
    background url(../images/ui/component-icon-bg.png) repeat, linear-gradient(45deg, darken($theme, 20), $theme)
    background lighten($dark, 10)
    height $componentSize
    width $componentSize
    border-radius .5rem
    border 1px solid darken($dark,5)
    border-bottom 3px solid darken($dark, 5)
    //box-shadow rgba($theme, .3) 1px 1px 1rem 0
    line-height: $componentSize
    text-align: center
    font-weight lighter
    font-size 1.6em
    margin 0 auto
    display flex
    align-items center

    img
      //height 100%
      max-width 60%
      max-height 60%
      margin 0 auto


  &:hover
    .icon
      background linear-gradient(45deg, darken($theme, 10), $theme)
      border-bottom-color darken($theme, 70)

  .name
    //border 1px solid orangered
    text-align center
    display block
    font-size 0.8rem