#entries
  background url(furley_bg.png)
  //
  //header
  //  background darken($themeHigh, 20)
  //
  //.cell
  //  background darken($nearWhite, 5)

.campsi_entry-list

.array_item[data-item-type='campsi/entry-list/entry']
  margin 0

  > button.remove
    display none

  a
    text-decoration none
    display block
    background rgba(white, .5)
    border-top 1px solid lighten($dark, 60)
    padding .5em
    cursor pointer
    color $dark

    &:hover
      background rgba(white, .8)

    &:active
      background white

    &.active
      background white

    &.draft::before
      content '•'
      display inline
      float left
      color $theme
      left 0
      top 0
      margin-right .5em



    h4, .title
      font-weight 500
      color black
      margin 0 0 .2em 0

    .summary
      display block
      color lighten($dark, 30)
      font-weight 300
      font-size: .85em

    $thumbnailSize = 4em
    .thumbnail
      height $thumbnailSize
      width $thumbnailSize
      float left
      overflow hidden
      margin-right 1em
      img
        max-height $thumbnailSize

#entry
  background white

  header
    button.remove
      light-button(#ffa000)

  .component.form
    padding 1em;

    .form_field
      padding .5em;

      .label
        font-weight 200

    .array_item, .newItem
      border 1px solid darken($light, 1)
      width 100%
      padding 0;
      border-radius .5em
      margin-bottom .5em
      display flex
      align-items: center


      > .component
        flex 1

      > .container
        width 100%

      > .drag-handle
        cursor all-scroll
        width 1em
        height 1.5em
        background darken($nearWhite, 10)
        margin-right .25em

      > .control
        flex 1

      > button.remove
        margin .5em
        align-self top
        dark-button(red)