#entries
  > .content
    padding-top $headerHeight

  h3
    font-weight 600
    font-size .9em
    text-transform: uppercase
    text-shadow 0 1px 1px $dark
    color white
    background linear-gradient(lighten(black, 13), lighten(black, 5))
    border-bottom 1px solid black
    padding .5em
    padding-top .8em
    margin 0

    i
      margin 0 1em

.array_item[data-item-type='campsi/entries-and-drafts/item']
  position relative
  border-bottom 1px solid lighten(black, 20)

  .form-field
    margin-left 1em
    .value, .label
      vertical-align top
      display inline-block
    p
      margin-bottom 0
  .label
    opacity .3
    text-shadow 1px 1px 1px #000
    display inline
    margin-right .2em

    &::after
      content ' > '
      font-weight 200
      opacity .3

  ul li
    clear left
    list-style circle
    margin-left 1.2em

  button.remove
    display none

  a
    position relative
    text-decoration none
    display block
    color white
    background rgba(white, .1)
    transition background .1s ease-out
    padding .5em

    &:hover
      background rgba(white, .2)

    img
      box-shadow rgba(0,0,0,0.8) 0 1px 10px
      border-radius .5em
      max-width 15em
      max-height 8em
      margin .5em

    span.id
      display none
      top 0
      right .5em
      z-index 100
      text-transform uppercase
      font-size .7em
      color lighten($dark, 40)
      &::before
        content: '#'

    &.hidden
      display none
    &.active, &:active
      background rgba(white, .3)

    &.rel
      height 0
      overflow hidden
      font-style italic
      font-size: .8em
      padding 0 .5em
      transition height .2s ease-out


    &.active + .rel {
      border-top 1px solid $dark
      height 2em
    }

    .template
      padding .5em 0
      h4, .title
        font-weight 600
        color white
        text-shadow 0 1px 1px #000
        margin 0 0 .2em 0

      .summary
        display block
        color white
        font-weight 300
        font-size: .85em

      $thumbnailSize = 4em
      .thumbnail
        height $thumbnailSize
        width $thumbnailSize
        float left
        overflow hidden
        margin-right 1em
        box-shadow 1px 1px 1px #000
        img
          max-height $thumbnailSize

  &.gu-mirror
    border none
    background black
    border-radius .4em
    box-shadow 0 3px 3px rgba(black, .3)
    a
      background transparent
      &.rel
        display none



#entry

  header
    button.remove
      light-button(#ffa000)

  button.publish
    light-button(limegreen)

  .campsi_entry
    padding 1em
    margin 0
    border-left none


    .label
      font-weight 200
      color lighten($dark, 10)
      font-size 1.6em
      margin-bottom .5em
      border-bottom 1px solid #dddddd

  .form_field
    margin-bottom 2em
    &:last-child
      margin-bottom 0

  .component.form .component.form
    padding 0 1em
    border-left 1px solid $light
    .form_field
      .label
        font-weight 200
        font-size .90em
        color black


#entry .array_item, #entry .newItem, .array_item[data-panel='entry']
  background white
  box-shadow 0 1px 2px rgba(black, .2)
  //border 1px solid darken($light, 1)
  width 100%
  padding 0.5em
  border-radius .2em
  margin-bottom 1em
  display flex
  align-items: center
  position relative

  > .container > .component.form, > .component.form
    border-left none

  &.newItem
    margin-bottom 0
    background rgba(darken(white, 5), .5)

    input[type=submit]
      align-self flex-start
      light-button($theme)

  input[type=submit]
    margin .5em

  > .form
    border-left 0
    margin-left 0


  > .component
    flex 1

  > .container
    width 100%

  > .drag-handle
    position relative
    cursor all-scroll
    width 1em
    height 1.5em
    //outline 1px solid red
    margin-right .25em
    display block
    opacity 0.3
    background url('../images/ui/drag-handle-3.png') no-repeat
    background-size: 100% 100%;
    transition opacity .2s ease-out
    &:hover
      opacity 1

  > .control
        flex 1


      button.remove
        align-self flex-start
        margin-left 1em
        dark-button(red)

      &[data-item-type="form"]
        > button.remove
          margin -.5em -.5em 0 0