#entries
  background url(furley_bg.png)

  > .content
    padding-top $headerHeight

  h3
    font-weight 600
    font-size .9em
    text-transform: uppercase
    text-shadow 0 1px 1px $dark
    color white
    background linear-gradient(lighten($dark, 20), lighten($dark, 15))
    border-bottom 1px solid $dark
    padding .5em
    padding-top .8em
    margin 0


.array_item[data-item-type='campsi/entries-and-drafts/item']
  position relative
  border-bottom 1px solid $light

  button.remove
    display none

  a
    position relative
    text-decoration none
    display block
    color $dark
    background white
    padding .5em

    &:hover
      background darken($light, 5)

    img
      max-width 5em
      max-height 5em
    span.id
      //display none
      top 0
      right .5em
      z-index 100
      text-transform uppercase
      font-size .7em
      color lighten($dark, 40)
      &::before
        content: '#'

    &.hidden
      display none
    &.active, &:active
      background $light

    &.rel
      font-style italic
      font-size: .8em
      padding 0 .5em
      border-top 1px dashed darken($light, 10)

    .template
      h4, .title
        font-weight 600
        color black
        margin 0 0 .2em 0

      .summary
        display block
        color lighten($dark, 40)
        font-weight 300
        font-size: .85em

      $thumbnailSize = 4em
      .thumbnail
        height $thumbnailSize
        width $thumbnailSize
        float left
        overflow hidden
        margin-right 1em
        img
          max-height $thumbnailSize

  &.gu-mirror
    border none
    background white
    border-radius .4em
    box-shadow 0 3px 3px rgba(black, .3)
    a
      background transparent
      &.rel
        display none



#entry
  background white

  header
    button.remove
      light-button(#ffa000)

  button.publish
    dark-button(green)

  .campsi_entry
    padding 1em
    margin 0
    border-left none


    .label
      font-weight 500
      color lighten($dark, 30)
      font-size .94em
      margin-bottom .25em

  .form_field
    margin-bottom 1em
    &:last-child
      margin-bottom 0

  .component.form .component.form
    padding 1em
    border-left 1px solid $light
    .form_field
      .label
        font-weight 200
        font-size .90em
        color black


#entry .array_item, #entry .newItem, .array_item[data-panel='entry']
  background white
  box-shadow 0 1px 2px rgba(black, .2)
  //border 1px solid darken($light, 1)
  width 100%
  padding 0.5em
  border-radius .2em
  margin-bottom .5em
  display flex
  align-items: center
  position relative


  > .container > .component.form, > .component.form
    border-left none

  &.newItem
    margin-bottom 0
    background rgba(darken(white, 5), .5)

    input[type=submit]
      align-self flex-start
      light-button($theme)

  input[type=submit]
    margin .5em

  > .form
    border-left 0
    margin-left 0


  > .component
    flex 1

  > .container
    width 100%

  > .drag-handle
    position relative
    cursor all-scroll
    width 1em
    height 20px
    //outline 1px solid red
    margin-right .25em
    display block
    opacity 0.3
    background url('../images/ui/drag-handle.png') repeat-y
    background-size: contain;
    transition opacity .2s ease-out
    &:hover
      opacity 1

> .control
      flex 1


    button.remove
      align-self flex-start
      margin-left 1em
      dark-button(red)

    &[data-item-type="form"]
      > button.remove
        margin -.5em -.5em 0 0