//@import reset

//body
//  font-family 'Avenir Next', 'Helvetica Neue', sans-serif
#landing
  #sections
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden
    background linear-gradient(-45deg, #FFF, #CCC)

  .btn
    text-decoration none
    display inline-block
    border 1px solid dodgerblue
    //border-bottom 3px solid darken(dodgerblue, 10)
    //border-top 3px solid dodgerblue
    //background dodgerblue
    font-size 1.5em
    color dodgerblue
    padding .5em 1em .4em 1em
    border-radius .7em
    //text-shadow 0 1px 1px darken(dodgerblue, 30)

    &:hover
      background lighten(dodgerblue, 10)
      border-top-color lighten(dodgerblue, 10)

    &:active
      background lighten(dodgerblue, 10)
      border-bottom-color lighten(dodgerblue, 10)
      border-top 3px solid dodgerblue

  section
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    transition transform .5s ease-in-out
    overflow auto
    -webkit-overflow-scrolling: touch;
    transform-origin 50% 50%
    &.next
      transform translateX(100%)
    &.prev
      transform translateX(-100%)

  .ruler
    display none
    top 0
    left 0
    position absolute;
    margin-left -1px
    opacity .5
    &.w50
      height 100%
      width 2px
      left 50%
      margin-left -1px
      background red
    &.h30, &.h70
      width 100%
      height 2px
      margin-top -1px
      background green
    &.h30
      top 30%
    &.h70
      top 70%

  .hero
    position absolute
    top 50%
    margin-top: -14%
    text-align left
    padding 2vw

    &.top
      top 0
      margin-top 0

  h1
    font-size 6em
    font-weight 200
    margin-bottom 1rem

    strong
      font-weight 700

  .baseline
    font-size 3.5em
    margin-bottom .5em
    font-weight 200
    font-style italic

  .cta
    position absolute
    bottom 10vw
    width 100%
    animation-delay 1s
    text-align center

  $numberOfWords = 8
  $animationDuration = 2

  @keyframes rotateWordsFirst {
    0% {
      opacity: 0;
      animation-timing-function: ease-in-out;
      transform translate3D(0, -10px, -10px)
    }
    5% {
      opacity: 1
      transform translate3D(0, 0, 0)
    }
    10% {
      opacity: 0;
      transform translate3D(0, 1Opx, 10px)
    }
    100% {
      opacity: 0;
      transform translate3D(0, 1Opx, 10px)
    }
  }


  .textRotate
    .i
      position: absolute;
      opacity: 0;
      //width: 100%;
      animation: rotateWordsFirst unit($numberOfWords*$animationDuration, 's') linear infinite 0s;

    for num in (1..$numberOfWords)
      .i:nth-child({num})
        animation-delay unit(( -1 + num ) * $animationDuration , 's')


  #why_section

    .hero
      position relative

    h2
      font-size 3em
      font-weight 200
      margin-top 2em
      margin-bottom 1em
      //background black
      color black
      //border 1px solid rgba(black,.2)
      //box-shadow 0 2px 13px rgba(black,.2)
      padding .2em
      padding-top .3em
    //display inline-block

    .questions_container
      text-align center
      margin-top 2em
      margin-bottom 10em

    .questions
      text-align center
      display inline-block
      opacity 0
      transition opacity 1s ease-out 1s,left 1s ease-out 1s,right 1s ease-out 1s
      font-size 1.2em
      line-height 2em
      color lighten(black, 30)
      font-weight 300

      ul
        margin-left 2em
        list-style-type: none
        text-align: left
        li::before
          content '✓ '

    .concentrate
      text-align center
      margin-top 4em

    //&.active
    .hero
      margin-top 0
      top 0
      position relative
    .questions
      opacity 1

  @keyframes logoAnimate
    0%
      transform translateY(0em)
    100%
      transform translateY(-.2em) rotateZ(-5deg)

  @keyframes baselineAnimate
    from
      opacity 0
    to
      opacity 1

  #hi_section
    .hero
      width 100%
      text-align center

    p.baseline
      color lighten(black, 40)
      margin-top 2em
      font-size 2em
      opacity 0
      animation baselineAnimate .5s 2s ease-in-out forwards

    p.links
      position absolute
      bottom 2em
      font-size .9em
      font-weight 200
      text-align center
      width 100%
      a
        color black
        text-decoration none
        &:hover
          color black
          text-decoration underline
      span
        margin 1em
        color lighten(black, 60)
    h1
      font-size 14em
      span
        display inline-block
        animation logoAnimate 2s alternate ease-in-out
        animation-fill-mode both
        animation-iteration-count 1
//
//&:hover
//  span
//    animation-iteration-count infinite

@media screen and (max-width: 600px)
  span.break
    display block
  #landing
    h1
      margin-top .7em
      font-size 3em
    p.baseline
      font-size 1em
    .hero
      position relative
      top 0
      margin-top 0
    #hi_section
      h1
        font-size 6em
      p.baseline
        font-weight 400
        font-size 1.5em
        line-height 2em
    #why_section
      h2
        margin-top 1em
      .questions_container
        margin-top 0
      .questions
        font-size .6em
        font-weight 400
        ul
          margin .4em
