.logged-in #welcome
  .auth, > header
    display none

#welcome
  > header
    background rgba($dark, .5)
    border-bottom-color rgba($dark, .7)
    button
      dark-button($theme)
  .content
    padding-top 0
