.logged-in #welcome
  .auth, > header
    .login, .signup
      display none
    .dashboard
      display inline-block


#welcome
  > header
    background rgba($dark, .5)
    border-bottom-color rgba($dark, .7)
    //button
      //dark-button($theme)

    .dashboard
      display none
  .content
    padding-top 0
