$duration = .5s
$easing = cubic-bezier(0.29, 0.56, 0.57, 0.9)
$easing = linear
#panels
  width 100%
  height 100%
  margin 0
  position relative

.campsi_panel
  height 100%
  width 100%
  display none
  position absolute
  background white
  //top 0
  //left 0
  transition transform $duration $easing, width $duration $easing
  overflow-y scroll
  -webkit-overflow-scrolling touch
  //outline: 1px solid darken($light, 5);
  box-sizing content-box

  &.scroll
    > header
      position fixed

  &.modified
    > header
      h2::after
        content ' *'
    .buttons button.save
      display inline-block

    .buttons button.publish
      display inline-block

  > header
    z-index 999
    /*> header
      a, button
        span
          display none
        &:hover
          span
            display inline-block*/

    > .content
      overflow-y auto
      //height 100%
      background-size 100%
      transform translate3d(0,0,0)

    &.hidden
      display none !important

@media screen and (max-width: 600px)
  .campsi_panel.main
    display block
    transform translateX(0)
    width 100%


activePanel($left = 0, $top = 0)
  display block
  transform translateX($left) translateY($top) translateZ(0)

@media screen and (min-width: 600px)

  #welcome
    width 100%
  #entriesAndDrafts
    width 50%
  #entry
    width 50%
  #collection
    width 60%
  #components,#fieldProperties
    width 40%
  #project
    width 70%
  #projects
    width 30%
  #project-editor
    width 70%
  #project-users
    width 30%

  #panels.root
    #welcome
      display block

  #panels.projects
    #projects
      width 100%
      activePanel()
    #collections
      activePanel(145%)

  #panels.project
    #projects
      activePanel()
    #project
      activePanel(43%)
    #project-editor
      activePanel(43%, -100%)
    #entriesAndDrafts
      activePanel(200%)
    #entry
      activePanel(300%)
    #collection
      activePanel(200%)
    #components
      activePanel(250%)

  #panels.editProject, #panels.newProject
    #projects
      activePanel()
    #collections
      activePanel(42.9%, 100%)
    #project-editor
      activePanel(42.9%)

  #panels.collection, #panels.entry, #panels.draft, #panels.newEntry
    #projects
      activePanel(-200%)
    #project
      activePanel(-100%)
    #entriesAndDrafts
      activePanel()
    #entry
      activePanel(100%)

  #panels.editCollection,#panels.newCollection
    #projects
      activePanel(-200%)
    #project
      activePanel(-100%)
    #collections
      activePanel(-100%)
    #collection
      activePanel()
    #components
      activePanel(150%)
    #fieldProperties
      activePanel(250%)
    #entriesAndDrafts
      activePanel(250%)
    #entry
      activePanel(300%)

  #panels.fieldProperties
    #projects
      activePanel(-200%)
    #project
      activePanel(-100%)
    #collections
      activePanel(-100%)
    #collection
      activePanel()
    #fieldProperties
      activePanel(150%)
    #components
      activePanel(230%)
    #entriesAndDrafts
      activePanel(250%)
    #entry
      activePanel(300%)

  #panels.projectUsers
    #project-editor
      activePanel()
    #project-users
      activePanel(233%)



@media screen and (min-width: 1100px)
  #entriesAndDrafts
    width 40%
  #entry
    width 40%
  #projects
    width 30%
  #project-editor
    width 70%

  #panels.project
    #entriesAndDrafts
      activePanel(250%)
    #collection
      display none

  #panels.editCollection,#panels.newCollection
    #entriesAndDrafts
      activePanel(250%)

  #panels.collection, #panels.entry, #panels.draft, #panels.newEntry
    #projects
      activePanel(-200%)
    #project
      width 20%
      activePanel()
    #entriesAndDrafts
      activePanel(50%)
    #entry
      activePanel(149.6%)

  #panels.projectUsers
    #projects
      activePanel()
    #project-editor
      width 40%
      activePanel(74.5%)
    #project-users
      activePanel(233%)

