#project
  background white

  .label
    font-weight lighter
    //font-size 1.2em
    color $dark

  .form_field
    padding 1em

  .form_field.big-title
    padding 0

  .form_field.icon
    background white

  .project-name
    font-size: 2em

  .collections
    clear left

  .campsi_collection-list
    .newItem
      input[type=submit]
        display inherit

.array_item[data-item-type="campsi/collection-list/collection"]
  > button.remove
    display none

  button.remove
    dark-button(red)

.campsi_collection-list_collection
  background #FFF
  border .1em solid darken($light, 2)
  border-bottom-color darken($light, 10)
  border-radius .5em
  margin-bottom: 1em
  padding 1em
  display flex
  align-items center

  &.active
    background darken(#FFF, 5)
    border .1em solid darken($light, 2)
    border-top-color darken($light, 10)
  .name
    flex 1

  .buttons a, .buttons button
    margin-left .5em
    dark-button($theme)

#projectUsers, #projectDeployments
  color white
  background url(low_contrast_linen.png)

  header
    a
      light-button(black)
    h2
      color white

  .label
    color white

  .campsi_project_users
    padding 1em

  .label
    font-weight 200

  .form_field
    margin-bottom 1em

  input.text
    background rgba(#FFF, .1);
    border 1px solid rgba(#FFF, .4);
    border-radius .5em
    color white

  form
    font-size .9em
    button
      light-button($theme)

  form > .form > .fields > .form_field > .label
    font-weight 500
    font-size 1.2em
    padding .5em 0

  .form_field[data-comp-type='checkbox']
    .label
      display none
    .help
      font-weight 200
      font-style italic

  .array_item, .newItem
    color white
    background linear-gradient(rgba(#FFF, .2), rgba(#FFF, .3))
    padding 1em
    margin-bottom 1em
    border-radius .5em
    border-bottom 4px solid rgba(black, .7)
    position relative
    vertical-align middle
    img
      border 1px solid black
      border-radius .5em
      border-bottom 2px solid #000
      margin-right 1em

    .remove
      position absolute
      top 1em
      right 1em
      dark-button(black)

#projectDeployments

  > .content
    padding 1em

  input[type=submit]
    display block
    light-button($theme)

#app .campsi_project:not(.designer)
  .btn.design, .btn.edit, .campsi_collection-list .newItem, .form_field.identifier
    display none

.template
  display block
  float left
  margin-right 0.5em

  input
    display none
  .icon
    border-radius .5em
    display block
    height 6em
    width 6em
    background white
    background-size 4em
    background-clip content-box
    background-position: 50% 50%
    background-repeat no-repeat
    border 1px solid darken($light, 5)
    border-bottom-color darken($light, 20)
    transition background-color .1s ease-out
  &.selected
    .icon
      background-color $light
      border-bottom-color darken($light, 5)
      border-top-color darken($light, 20)
    .name
      font-weight 500

  .name
    text-align center
    font-size 0.85em
    display block

.campsi_collection-list_wizard
  margin-top 3em
  h4
    font-weight 500
    color $dark
    font-size 1.2em
  p
    font-size 0.85em
    color lighten($dark, 20)

.campsi_collection-list
  input[type=submit]
    light-button($theme)