#project
   background white

  .label
    font-weight lighter
    //font-size 1.2em
    color $dark
    margin 0 0 .5em 0

  .form_field.icon
    padding 1em
    background white
    //border-bottom 1px solid darken($nearWhite, 10)

  .project-name
    font-size: 2em


  .admins, .designers
    padding 1em
    width 50%
    display inline-block
    //border-bottom 1px solid darken($nearWhite, 10)
    //border-top 1px solid lighten($nearWhite, 10)
    //border-right 1px solid white
    background darken($nearWhite, 5)

  .designers
    border-left 1px solid darken($light, 10)

.collections
  padding 1.5em
  clear left

.campsi_collection-list
  .newItem
    input[type=submit]
      display inherit

.array_item[data-item-type="campsi/collection-list/collection"]
  > button.remove
    display none

  button.remove
    dark-button(red)

.campsi_collection-list_collection
  background #FFF
  border .1em solid darken($light, 2)
  border-bottom-color darken($light, 10)
  border-radius .5em
  margin-bottom: 1em
  padding 1em
  display flex
  align-items center

  &.active
    background darken(#FFF, 5)
    border .1em solid darken($light, 2)
    border-top-color darken($light, 10)
  .name
    flex 1

  .buttons a, .buttons button
    margin-left .5em
    dark-button($theme)


#users
  background url(low_contrast_linen.png)

  header h2
    color white

  .label
    color white

  .campsi_project_users
    padding 1em

  .label
    font-weight 200

  .form_field
    margin-bottom 1em

  input[type=text]
    background rgba(#FFF, .1);
    border 1px solid rgba(#FFF, .4);
    border-radius .2em
    color white

  form
    font-size .9em
  form > .form > .fields > .form_field > .label
    font-weight 500
    font-size 1.2em
    padding .5em 0

  .form_field[data-comp-type='checkbox']
    .label
      display none
    .help
      font-weight 200
      font-style italic

#app .campsi_project:not(.designer)
  .btn.design, .btn.edit, .campsi_collection-list .newItem, .form_field.identifier
    display none


.template
  display block
  float left
  margin-right 0.5em
  input
    display none
  .icon
    border-radius .5em
    display block
    height 6em
    width 6em
    background white
    background-size 4em
    background-clip content-box
    background-position: 50% 50%
    background-repeat no-repeat
    border 1px solid darken($light, 5)
    border-bottom-color darken($light, 20)
    transition background-color .1s ease-out
  &.selected
    .icon
      background-color $light
      border-bottom-color darken($light, 5)
      border-top-color darken($light, 20)
    .name
      font-weight 500

  .name
    text-align center
    font-size 0.85em
    display block