#project
  background white

  > .content
    padding-top $headerHeight

  .label
    font-weight lighter
    //font-size 1.2em
    color $dark

  .form_field
    padding 1em

  .form_field.big-title
    padding 0

  .form_field.icon
    background white

  .project-name
    font-size: 2em

  .collections
    clear left

  .campsi_collection-list
    .newItem
      input[type=submit]
        display inherit

  .template
    display block
    float left
    margin-right 0.5em

    input
      display none
    .icon
      border-radius .5em
      display block
      height 6em
      width 6em
      background white
      background-size 4em
      background-clip content-box
      background-position: 50% 50%
      background-repeat no-repeat
      border 1px solid darken($light, 5)
      border-bottom-color darken($light, 20)
      transition background-color .1s ease-out
    &.selected
      .icon
        background-color $light
        border-bottom-color darken($light, 5)
        border-top-color darken($light, 20)
      .name
        font-weight 500

    .name
      text-align center
      font-size 0.85em
      display block

  [data-comp-type="campsi/collection-list"]
    > .label
      font-size 2em
      font-weight 500
      color black
      margin 1em 0

.array_item[data-item-type="campsi/collection-list/collection"]
  > button.remove
    display none

  button.remove
    dark-button(red)

.campsi_collection-list_collection
  background #FFF
  border .1em solid darken($light, 2)
  border-bottom-color darken($light, 10)
  border-radius .5em
  margin-bottom: 1em
  padding 1em
  display flex
  align-items center

  &.active
    background darken(#FFF, 5)
    border .1em solid darken($light, 2)
    border-top-color darken($light, 10)
  .name
    flex 1

  .buttons a, .buttons button
    margin-left .5em
    dark-button($theme)


#projectUsers, #projectDeployments
  color white
  background url(../images/ui/low_contrast_linen_@2X.png)

  > .content
    padding 1em
    padding-top $headerHeight + 1em


  header
    a
      light-button(black)
    h2
      color white

  .label
    color white

  .campsi_project_users
    padding 1em

  .label
    font-weight 200

  .form_field
    margin-bottom 1em

  input.text
    background rgba(#FFF, .1);
    border 1px solid rgba(#FFF, .4);
    border-radius .5em
    color white

  form
    font-size .9em
    button
      light-button($theme)

  form > .form > .fields > .form_field > .label
    font-weight 500
    font-size 1.2em
    padding .5em 0

  .form_field[data-comp-type='checkbox']
    .label
      display none
    .help
      font-weight 200
      font-style italic

  h3
    margin-top 2em

  .array_item, .newItem
    color white
    background linear-gradient(rgba(#FFF, .2), rgba(#FFF, .3))
    padding .5em
    margin-bottom 1em
    border-radius .5em
    border-bottom 4px solid rgba(black, .5)
    position relative
    vertical-align middle
    min-height 6.5em

    .roles
      margin-bottom 0

      span
        margin-right .5em
        display inline-block
        background $theme
        border-radius .3em
        border 1px solid darken($theme, 5)
        padding 0 .5em
        box-shadow 0 1px 2px darken($theme, 30)
    .name
      text-shadow 0 1px 1px #000
      font-size 1.2em
      margin-bottom 0

    .username
      text-shadow 0 1px 1px #000
      font-size .9em
      color darken(white, 10)

    .avatar
      position relative
      display inline-block
      border-radius 4em
      margin-right 1em
      overflow hidden
      width 4em
      height 4em
      float left
      &::before
        content ''
        box-shadow inset 1px -1px 4px #000
        position absolute
        border-radius 4em
        top 0
        left 0
        right 0
        bottom 0
      img
        margin-top -1%
        margin-left -1%
        height 103%
        width 103%


    .remove
      position absolute
      top 1em
      right 1em
      dark-button(black)

#projectDeployments

  input[type=submit]
    display block
    light-button($theme)

#app .campsi_project:not(.designer)
  .btn.design, .btn.edit, .campsi_collection-list .newItem, .form_field.identifier
    display none


.campsi_collection-list_wizard
  margin-top 3em
  h4
    font-weight 500
    color $dark
    font-size 1.2em
  p
    font-size 0.85em
    color lighten($dark, 20)

.campsi_collection-list
  input[type=submit]
    light-button($theme)

#projectUsers .pane.confirmation, #projectUsers .pane.error
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background rgba(black, .8);
  padding-top 20em
  text-align center
  display none

  opacity 0

  i
    display block

  &.confirmation
    i
      color lighten(forestgreen, 20)

  &.visible
    display block
    animation fadeIn .5s
    opacity 1

