#support-tab
  position fixed
  left 2em
  bottom 2em
  background $theme
  color white
  //display inline-block
  height 2.5em
  min-width 2.5em
  border-radius 2em
  line-height 2em
  padding .25em
  display none

  i
    position absolute
    top .15em
    left .18em
    margin-top 0
    vertical-align top
    opacity .5

  span
    width 0
    display inline-block
    overflow hidden
    opacity 0
    transition all .5s ease-out

  &:hover
    span
      opacity 1
      margin-left 2.5em
      width 4.5em