#support-tab
  position fixed
  left 2em
  bottom 2em
  background linear-gradient(lighten($theme, 5), $theme)
  border 1px solid lighten($theme, 10)
  border-bottom-width 2px
  box-shadow 0 2px 10px rgba(black, .2)
  color white
  display inline-block
  height 2.5em
  min-width 2.5em
  border-radius 2em
  line-height 2em
  padding .25em

  i
    position absolute
    top .10em
    left .15em
    margin-top 0
    vertical-align top
    opacity .5

  span
    width 0
    display inline-block
    overflow hidden
    opacity 0
    transition all .5s ease-out

  &:hover
    span
      opacity 1
      margin-left 2.5em
      width 4.5em