.campsi_collection_api-doc
  background white
  margin 1.5em
  border-radius .5em
  //box-shadow 0 0 10px darken($light, 20)
  overflow hidden

  header
    a
      display inline-block
      padding .5em 1em
      font-weight 500


  .container
    article
      display none
      &.active
        display block